/*
File:     custom.css
Description:  Legacy styles for the Oasis theme.*/
// @import 'layout';
// @import 'jquery-ui-custom_oasis';
// @import 'pending';

@import url('css/layout.css');

.poptext {
  height:6rem;
}

#text-4 .textwidget a {
  padding:0.5em;
  margin: 0.5em;
  display: block;
  font-size: 1.25em;
  text-align: center;
}

img.left,  img.alignleft, .wp-caption.alignleft, img.right, img.alignright, .wp-caption.alignright {
  margin-bottom: 0;
}
.headline_meta {
  margin:0 0 1em 0;
}
.bigger {
  font-size: 120%;
}

/* eliminate bullet graphics from testimonials */

#text-2 .btn span {
  text-align: center;
  display: block; }

/**********************************************************************
RESOURCES- PUBLICATION & MUSIC
***********************************************************************/

  /* eliminate borders on gquote, sandbar ULs */
  .post_box, .teasers_box, #footer {
    border-width: 0;
  }
  #feature_box, #archive_intro, #comment_nav_2 {
    border-width: 0 0 0 0;
  }

  .menu a {
    font-size: 1.4em;
    padding: 0.636em 0.818em;
  }

  .subhead {font-size: .8em;
    font-style: italic;}

    .sidebar_list .widget{
      box-shadow: 1px 1px 4px #1E92AB;
      background-color:rgba(255,255,255,.75);
      width: 95%;
    }

      #inner_feature_pic {text-align: center;}

      .blog {
        clear:both;
      }

      // .blog_block {clear:both;}

      .blog h3 a{
        margin-left: 1.5rem;
        margin-top: 1.5rem;}

       /* .post_box{ padding-top: 0;} /* sub-tab pages have no padding-top */

       /* .home .post_box {padding-top:2.2em;} /* front page does */

        #inner_feature_pic img /* centered filling most of div */
        {
          width:90%;
          margin-left: 5%;
        }


        .services #multimedia_box {
          margin-bottom: 14em;
          padding: 0 2em 0 0;
        }
/*
#multimedia_box .video_box{
margin-left: 7%;
box-shadow: -2px 2px 2px #1E92AB;
margin-top: 2.6em;
}
*/

.box-glow{
  -webkit-box-shadow: 0px 2px 22px #1e92ab; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 22px #1e92ab; /* FF3.5 - 3.6 */
  box-shadow: 0px 2px 22px #1e92ab; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
#certification-badges {
  display:inline-block;
  width: 100%;
  margin-top: 5em;
}
.menu a
{ line-height: 1em;}

.home > article > .new_title h3 {
  margin: 1.5em 0 0 0;
  clear:both;
  position:relative;
}

.whalf .new_title h3 a:hover {
  background: none repeat scroll 0 0 #0000DD;
  border-color: #FAE55F;
  color: #FFFFFF;
}

.whalf .new_title h3 a:link {
  color: #444488;
  background-color: #EEFFFF;
}
.whalf .new_title h3 a{
  background: none repeat scroll 0 0 #EEFFFF;
  border-left: 1em solid #DDFFFF;
  display: block;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 1em;
  text-decoration: none;
}

.whalf .new_title h3 b{
  background-color: #CCFFFF;
}

.new_title{
  /* border-bottom: 4px solid #4CA6A8; */
  border-color: #4CA6A8;
  /* border-top: 2px solid #4CA6A8; */
  margin: 0 0;
  padding: 0.05em 0 0;
}

.new_title>b{
/*
  letter-spacing: 2px;
  text-transform: uppercase;
  */
  color: #444488;
  font-family:Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  padding: .5em 1em 0 1em;
  display: block;
  border-bottom: 2px solid #4CA6A8;
  margin: 1em 0;
}

.home .accordion h3{
  /* border-bottom: 4px solid #4CA6A8; */
  border-color: #4CA6A8;
  /* border-top: 2px solid #4CA6A8; */
  margin: 0 0;
  /* padding: 0.05em .5em;; */
}

.accordion .ui-icon {
  background-image: url("../images/222222_256x240_icons_icons.png");
  height: 16px;
  margin-right: 1em;
  width: 16px;
}


/**********************************************************************
accordion modifications
***********************************************************************/


.accordion .ui-icon-carat-1-n { background-position: 0 0; }
.accordion .ui-icon-carat-1-ne { background-position: -16px 0; }
.accordion .ui-icon-carat-1-e, .accordion .undefined { background-position: -32px 0; }/* defines the right icon as the default initialized icon for accordions */
.accordion .ui-icon-carat-1-se { background-position: -48px 0; }
.accordion .ui-icon-carat-1-s { background-position: -64px 0; }
.accordion .ui-icon-carat-1-sw { background-position: -80px 0; }
.accordion .ui-icon-carat-1-w { background-position: -96px 0; }
.accordion .ui-icon-carat-1-nw { background-position: -112px 0; }
.accordion .ui-icon-carat-2-n-s { background-position: -128px 0; }
.accordion .ui-icon-carat-2-e-w { background-position: -144px 0; }
.accordion .ui-icon-triangle-1-n { background-position: 0 -16px; }
.accordion .ui-icon-triangle-1-ne { background-position: -16px -16px; }
.accordion .ui-icon-triangle-1-e { background-position: -32px -16px; float:left;}
.accordion .ui-icon-triangle-1-se { background-position: -48px -16px; float:left;}
.accordion .ui-icon-triangle-1-s { background-position: -64px -16px; float:left;}
.accordion .ui-icon-triangle-1-sw { background-position: -80px -16px; float:left;}
.accordion .ui-icon-triangle-1-w { background-position: -96px -16px; }
.accordion .ui-icon-triangle-1-nw { background-position: -112px -16px; }
.accordion .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.accordion .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.accordion .ui-icon-arrow-1-n { background-position: 0 -32px; }
.accordion .ui-icon-arrow-1-ne { background-position: -16px -32px; float:left;}
.accordion .ui-icon-arrow-1-e { background-position: -32px -32px; float:left;}
.accordion .ui-icon-arrow-1-se { background-position: -48px -32px; float:left;}
.accordion .ui-icon-arrow-1-s { background-position: -64px -32px; float:left;}
.accordion .ui-icon-arrow-1-sw { background-position: -80px -32px; }
.accordion .ui-icon-arrow-1-w { background-position: -96px -32px; }
.accordion .ui-icon-arrow-1-nw { background-position: -112px -32px; }
.accordion .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.accordion .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.accordion .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.accordion .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }

.whatsnewdate{ font-size: 0.75em; color: #888; text-transform: uppercase; text-indent: .5em;}

.whatsnew ul li a {
  line-height: 1em;
  margin: 0;
  padding: 4px 0 4px 10px;
}
.whatsnew ul li {font-size: 16px; list-style: none outside none;}



.accordion .ui-accordion-content-active, .ui-helper-reset {
  padding:.5em;
}

 /*#content { background-color: transparent; width: 71.3333333333%; 70.4em, 704/960 }*/

 .no_sidebars #content {
  width: 100%;
}
.no_sidebars #content .headline_area{
  display:none;
  visibility:hidden;
}

.sidebar {margin: 5em 0 0 0; width:26.6666666666%; /* background: url(../images/sandlight.jpg);  */
}
article p {margin-bottom: 1.15em;} /* break between paragraphs */

.event-times{font-weight:600;}

/*---------------------------------------------- Format classes ------------------------------------------------------------*/
/* article { font-size: 1.35em; } */

article blockquote.right, article blockquote.left {
  font-size: 1.15em;
  line-height: 1.158em;
}

.size-thumbnail { max-width: 100%; }

.bigbold { font-size: 1.15em; font-weight: 600; letter-spacing:.25px; color: rgb(30,146,171); }



#menu-blog-nav:after { clear: both; }

/*----------------------------------- Testimonials post page styling --------------------------------------------------------*/


#content .testimonials .format_text, #content .testimonials .format_teaser {
  background-color:transparent;
  background-position:center top;
  background-repeat:no-repeat;
  background-image:url(../images/punctuation-marks-dk-l.png);
  background-size:contain;
  margin-bottom:.5em;
  min-width:33%;

}

.testimonials .teaser_date published, .teasers_box .teaser abbr.teaser_date {
  display:none;
  visibility:hidden;
}

.testimonials img, .testimonials .format_teaser img {
  float: left;
  padding: 0 1.2em 0 0;
}

/* ! Submenu styles -----------------------------------------------------------------------------------------------------------*/
#menu-blog-nav a, #menu-blog-nav ul, #menu-blog-nav {
  color: rgba (207,241,242, 1);
  font-size: 1em;
  background: transparent;
  border: 0 none;
}

#menu-blog-nav ul{ width:100%; }

#menu-blog-nav .current-menu-item a, #menu-blog-nav .current-cat  a, #menu-blog-nav .current ul a {
  color: #836916;
  background-color: rgb(248, 238, 143);
  background-image: none;
  -webkit-box-shadow: 0px 0px 10px rgb(248, 238, 143);/* Saf3-4 */
  -moz-box-shadow: 0px 0px 10px rgb(248, 238, 143); /* FF3.5 - 3.6 */
  box-shadow: 0px 0px 10px rgb(248, 238, 143); /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}

#archive_intro h1 { display: none; visibility: hidden; }


/* IMPORTS */

/*
#sub-tabs .ui-tabs-nav li a {
display:none;}
*/
/* Style the First (or Only) Post */
/*
.post.top {
   background:#FFFFFF none repeat scroll 0 0;
   border:15px double #666666 !important;
   margin:1em;
   padding:2em;
}
*/

/* Style Remaining Posts (in a Multi-Post Listing) */
/*
.post.post_box {
   background:#FFFFFF none repeat scroll 0 0;
   border:15px double #000000;
   margin:1em;
   padding:2em;
}
*/

.full_width > .page {
  background:transparent;
  margin: 0 2.2%;
}


/* Nudging JQuery-UI tabs onto sandbar */
.full_width .page #content_box {
  position:relative;
  padding-left:0;
  padding-right:0;
  background:transparent;
  width:auto;
}
#header_area .page {
  padding-top:0;
  width:100%;
}

pre {
  background:transparent;
  border:0px solid #FFF;
  overflow:auto;
  clear:both;
  font-size:1.1em
}

#social_thumbs {
  margin:0;
  padding:0;
  width:100%;
  height:auto;
  text-align: center;
}

/* scale thumbnail social icons in sidebar */

#social_thumbs .suboptions-icon {
  width:100%;
  margin: 0 5px;
  height:auto;
}

/* Testimonial photos, in sidebar, pullquotes, and on testimonials page */
.pquote p img, .pquote>p>a>img, .pquote>p>img, .pquote>p>a>img.alignnone,.pquote>p>a>img.block, .sidebar .pquote img, .sidebar .pquote img.alignnone {
  width:30%;
  height:auto;
  float:right;
  margin-left:.75em;
  -webkit-border-radius:12px;
  /* Saf3-4, iOS 1-3.2, Android <1.6 */
  -moz-border-radius:12px;
  /* FF1-3.6 */
  border-radius:12px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  -webkit-box-shadow:0 0 1em #000;
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:0 0 1em #000;
  /* FF3.5 - 3.6 */
  box-shadow:0 0 1em #000
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}




#suboptions-widget-3>a>img,img.stroked {
  height:auto;
  margin-left:1.2%;
  float:left;
}

#suboptions-widget-3>a>img {
  width:30%;
}

img.stroked {
  max-width:100%;
}
img.stroked:after{
  /* clear: both; */ }

/*
@import url(themes/orman/orman.css);
@import url(themes/pascal/pascal.css);*/

.teasers_box {
  width:95%;
}

.teaser {
  width:46%;
}

  #inner_feature_pic p{
    clear:both;
    font-style: italic;
    margin-top: 1em;
  }

article .three-d {
    margin-top: 1em;
    font-style: italic;
  }


  #archive_intro {
    padding-top:0
  }

  .full_width .page {
    margin: 0 auto;
    padding: 0;
    width: 98%;
  }



    /* CSS3 BOXES */
    .box_textshadow {
      text-shadow:1px 1px 3px #888
      /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    }

    .box_shadow_y {
      -webkit-box-shadow: 1px 1px 17px #F7F1ad; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 1px 1px 17px #F7F1ad; /* FF3.5 - 3.6 */
      box-shadow: 1px 1px 17px #F7F1ad; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    }

    .blueborder {
      background-color:#FFF;
      border-color:#1E92AB;
      border-style:solid;
      border-width:.3em .5em .5em .3em;
      margin:.4em .6em .6em .4em;
      padding:2px
    }

    #poptext {
      width: 96%;
      height: auto;
      padding: 0.4em;
      position: relative;
      font-size: 1em;
    }

    #poptext h3 {
      margin: 0;
      padding: 0.4em;
      text-align: center;
    }

    h2 a,h2 a:visited {
      color:#1E92AB
    }

    /* REMOVES TITLE FROM CATEGORY PAGES TO FIX UI TABS PSEUDO SKIN */
    #archive_intro {
/*
visibility: hidden;
display: none;*/
}

#content .post {
  padding-top:1.2em
}
#content .post:first {
  padding-top: 3em;
}
/* padding between tabs and tab content */
#sub-tabs .ui-widget-content {
  padding-top:3.6em;
}

/* SIDEBAR STYLING */
#content_box:after {
  clear:right;
}

.sidebar {
  border:0 none;
}

/* END SIDEBAR STYLING */
/* ! THESIS POST & THUMBNAIL RESIZING */
.post_image {
  max-width:350px;
  height:auto
}

.thumb {
  max-width: 100%;
  height:auto;
}

/* END THESIS POST & THUMBNAIL RESIZING */
h1 {
  background-color:transparent;
  color:#448
}



/* BUTTONS */
.obutton {
  padding:.3em .4em
}

.box_round,.obutton {
  -webkit-border-radius:12px;
  /* Saf3-4, iOS 1-3.2, Android <1.6 */
  -moz-border-radius:12px;
  /* FF1-3.6 */
  border-radius:12px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box
}

.box_shadow {
  -webkit-box-shadow:0 0 4px #fff;
  /* Saf3-4 */
  -moz-box-shadow:0 0 4px #fff;
  /* FF3.5 - 3.6 */
  box-shadow:0 0 4px #fff
  /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}

.box_gradient,.obutton {
  background-color:#1e92ab;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#1e92ab),to(#cff1f2));
  /* Saf4+, Chrome */
  background-image:-webkit-linear-gradient(top,#1e92ab,#cff1f2);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:-moz-linear-gradient(top,#1e92ab,#cff1f2);
  /* FF3.6 */
  background-image:-ms-linear-gradient(top,#1e92ab,#cff1f2);
  /* IE10 */
  background-image:-o-linear-gradient(top,#1e92ab,#cff1f2);
  /* Opera 11.10+ */
  background-image:linear-gradient(top,#1e92ab,#cff1f2);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1e92ab',EndColorStr='#cff1f2')
  /* IE6-IE9 */
}

.box_bgsize,.obutton {
  -webkit-background-size:100% 100%;
  /* Saf3-4 */
  -moz-background-size:100% 100%;
  /* FF3.6 */
  background-size:100% 100%
  /* Opera, IE9, Saf5, Chrome, FF4 */
}

.custom.resources #sub-tabs {
  margin-left: -2.2em;
}
/*
article {
line-height: 1em;}
*/
/*-----------------------------------------------CUSTOM TAGS---------------------------------------------*/
a,a:visited {
  text-decoration:none;
  -webkit-transition:color .5s ease-in;
  -moz-transition:color .5s ease-in;
  -o-transition:color .5s ease-in;
  -ms-transition:color .5s ease-in;
  transition:color .5s ease-in
}

h2.bigbold {
  font-size:1.8em
}

/* .sidebar h3 { background: none repeat scroll 0 0 #111111; color: #FFFFFF; font-family: Georgia; font-size: 1.4em; font-variant: normal; letter-spacing: 6px; margin: 0 -20px 10px; padding: 0.5em 0.6em; text-transform: uppercase; } */
/*
h3
{margin-top:0.5em;
margin-bottom:0;
color:#CFF1F2;
}
*/


/*-----------------------------------------------CUSTOM CLASSES---------------------------------------------*/
.post_box {
  margin-top:0;
}

.services .headline_area h1, .resources .headline_area h1, .about .headline_area h1 {
  display:none;
  visibility:hidden;
}

.services .headline_area { /* display: none;  */visibility: hidden;}

.post .headline_area, #post-528 .headline_area, #post-610 .headline_area {
  display:block;
  visibility:visible;
}

h4.resource_title {
  font-size:1.2em;
}



/*-----------------------------------------------MIXED SELECTORS---------------------------------------------*/
#navigating .wp-image-1934
{margin-top: -3em;
  margin-bottom: 0em;
}
/* certain book images that need to be further up in layout */
// #navigating .wp-image-862, #navigating .wp-image-1935
// {margin-top: -2.6em; margin-bottom: 1em;}
// #navigating .wp-image-2414, #navigating .wp-image-1779 {margin-top: -3em; margin-bottom: 1em;}
// #navigating .wp-image-1778
// {margin-top: -2em; margin-bottom: 1em;}
// #header {
//  border-width:0;
//  height:14.2em;
//  background:url(../images/water_tile.jpg) left 10.2em repeat-x transparent;
//  position:relative;
//  left:0;
//  width:100%;
//  padding:0;
//  margin: 0;
// }
// .resources #header {
//  border-width:0;
//  height:13.8em;
//  background:url(../images/water_tile.jpg) left 10.2em repeat-x transparent;
//  position:absolute;
//  left:0;
//  width:100%;
//  padding:0;
// }
/* Ghibran Quote */
.gquote, .sidebar .gquote {
  border-left: medium none;
  color: rgb(92, 72, 23);
  display: block;
  font-family: 'Buda',serif;
  font-size: 1.7em;
  margin: 0 -1em 0 -1em;
  padding: 0 0 0 1em;
  position: absolute;
  text-align: left;
  text-shadow: 0 0 5px #FFF2D9, 0 0 3px #FFE2C2, 0 -1px 1px #C79708;
  top: 146px;
  width: 100%;
  text-indent: 1em;
}
.gquote:after,.sidebar .gquote:after {
  clear: both;
}
/* end Ghibran quote */
/*
.home article {
  margin-top: 1.8em;*/
  .sidebar { margin-top: 5em; }

  .home .sidebar { margin-top: 2.6em;}



  article h2,article h3 { line-height:1.2em; margin:0 0 .6em; }

/* .home #sub-tabs .ui-tabs-nav,.contact #sub-tabs .ui-tabs-nav { display:none; }  // hide nav so jQuery can fade them in with the beachbar */
/* box shadow animation */
.shadowbox {
  box-shadow:inset 0 0 75px 75px slategray,0 0 0 0 #708090
}

.shadowfaded {
  box-shadow:inset 0 0 35px 35px transparent,0 0 75px 50px transparent
}






/*---------------------------------------------- MULTIMEDIA BOX STYLING ------------------------------------------------------------*/
.services #image_box
{
  background-color: transparent;
  margin-bottom: .75em;
  border:none;
  width: 96%;
  height: auto;
  background-color: #fff;
  padding: 0.4178272928%;
  border-width: 0/* .950519142% 1.58419857% 1.58419857% 0.950519142%; */; /* 3px/.sidebar 5px/.sidebar 5px/.sidebar 3px/.sidebar */
  border-style: solid;
  border-color: transparent;
  margin: 0;

}
iframe {max-width:100%;
}
iframe:after {clear:both;}
object, video {
  max-width:100%;
}
#image_box img {
  max-width: 96%;
  height: auto;
  background-color: #fff;
  padding: 0.4178272928%;
  border-width: 0.950519142% 1.58419857% 1.58419857% 0.950519142%; /* 3px/.sidebar 5px/.sidebar 5px/.sidebar 3px/.sidebar */
  border-style: solid;
  border-color: #1E92AB;
  margin: 0;
}
div.quote {
  background: #fff;
  margin-top: 0;
  line-height: 16pt;
  width: auto;
}
.category_archive {
  font-size: 1.7em;
  font-weight: 400;
  padding: 10px 22px 0;
}
.custom #container { padding: 0; }

/* STYLES FOR FULL WIDTH JQUERY Wilto-Dynamic-Carousel- http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CCYQFjAA&url=https%3A%2F%2Fgithub.com%2FWilto%2FDynamic-Carousel&ei=e8C4TpX1N8SviAKIhqHaBA&usg=AFQjCNH3k91pg5pNrMRW7m4gUwbBWizsoQ&sig2=Q1N6AZgPumkS5PSlBn5Gdw */
/*
.about #content .slidewrap2 {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
*/

  /*: ;
  margin-left: 4px;
  margin-right: 4px;
}
/* END STYLES FOR FULL WIDTH JQUERY Wilto-Dynamic-Carousel-79c980a */
/* http://blog.cooljaz124.com/css3-popup-box-with-shadow/ */
/*
body{
background: #fff;
text-align: center;
font-size: 13px;
font-family: Arial;
line-height: 18px;
color: #474747;
}
*/

/* END CATEGORY MENU ITEMS THAT "POP OUT" ON THE RIGHT WHEN HOVERED */

/************************************************************************************************************************
RESPONSIVE ELEMENTS START HERE
Part 1: Fixed attributes of query-enabled elements
*************************************************************************************************************************/

body.contact { background: none no-repeat #FFFFFF }
/*
#menu-blog-nav {
  margin-top: 1.1em;
}
*/




/* !*********************************************************************
MEDIA QUERIES- RESPONSIVE LAYOUT ELEMENTS
***********************************************************************/
@media screen and (max-width: 390px) {
  /* 380px + */
  /*
#menu-oasis-page-nav {
     font-size: .85em;
     top: -18px;
     line-height: .8em;
  }
  */
}
@media screen and (max-width: 402px) {
  // header nav { margin-top: 50px; }
  #menu-oasis-page-nav {
    font-size: .85em;
    top: -18px;
    line-height: .8em;
  }
  #content { margin-top: 36px; }
}

.slogan {
  font-family: "La Belle Aurore", cursive;
  left: 202px;
  /*  left: 6.35em; for calligraffitti*/
  font-weight: 200;
  color: #1E92AB;
  position: absolute;
}

  #menu-oasis-page-nav { top: -33px; }

  .third-r, .half, .whalf, half-r {clear:none; width: 100%; }
  /* slogan breakpoint */
  #content .post {
    /* push post page content down for vertical subnav */
    padding-top: 3.2em;
  }
  #content { margin-top: 36px; }
}

/*
@media screen and (max-width: 520px) {
  .nav-primary {
     float: left;
     width: 100%;
  }
  .nav-primary li {
     clear: left;
     float: left;
     width: 48%;
  }
  li#nav-rated,
  li#nav-contact {
     clear: right;
     float: right;
  }
  .nav-primary a {
     display: block;
     padding: 0.45em;
  }
  .main-title { font: normal 1.5em Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif }
}
*/
/*
@media screen and (min-width: 768px) {
  .gallery span {
     -moz-transition: -moz-box-shadow 0.1s linear;
     -o-transition: box-shadow 0.1s linear;
     -webkit-transition: -webkit-box-shadow 0.1s linear;
     -webkit-transition: -webkit-box-shadow 0.1s linear;
     transition: box-shadow 0.1s linear;
  }
  .gallery a:hover span {
     -moz-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.75);
     box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.75);
  }
}
*/

@media screen and (max-width: 628px) {

  #content .whalf-l, #content .whalf, #content .whalf-r {
    float: none; width: 100%; clear:both; margin:0px; padding-top:1rem;
  }
}



// @media screen and (min-width:811px) and (max-width:870px) {
//   .blog_block { margin-top: 13em; }
//  }
// @media screen and (min-width:871px) {
//  .blog_block { margin-top: 6em; }
// }

// @media screen and (min-width:1015px) {
//  .blog_block { margin-top: 0em; }
// }

@media screen and (max-width: 705px) {
  // .blog_block {
  //  clear:both; margin-top: 0em;
  // }
  .home > article > .new_title h3 {
    margin: 5em 0 0 0;
    clear:both;
    position:relative;
  }


  li#menu-item-2209,
  /* slogan disappears and main nav goes to 2-row */
  li#menu-item-2211,
  li#menu-item-2213,
  li#menu-item-2215 {
    clear: right;
    float: right;
  }
  #menu-blog-nav li {
    clear: none;
    float: left;
    width: 48%;
  }
  #menu-blog-nav a {
    display: block;
    padding: 0.45em 0.1em;
  }
  #content .post { /* push down blog content below 4-col nav */
    padding-top: 4em;
  }
  // header nav { top: -29px; }
  #menu-item-555 { clear: both; }
/*  .slogan {display: none;}
  .gquote {display: none;}
  #menu-oasis-page-nav {} */

  #content { float: none; width: 100%; }

  /* sidebar takes on full width below main content for smaller displays */

  .sidebar, .sidebar { float: none; width: 100%;}
}

  @media screen and (max-width:664px) {
    .slogan {
      font-size: 0.95em;
      top: 1px;
    }
  }

@media screen and (max-width: 705px) { /* <---------------------------------705 px or smaller breakpoint */
  .slogan {
    font-size: 1.1em;
    top: 18px;
    display: block;
  }
  /* SUNSET FOR MULTI-LINE MAIN NAV */
  header[role=banner] {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmY2I1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2Y0ZDY1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZhZTQ1ZSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhZTQ1ZSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(239,203,89,1) 0%, rgba(244,214,91,1) 39%, rgba(250,228,94,0.5) 90%, rgba(250,228,94,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,203,89,1)), color-stop(39%,rgba(244,214,91,1)), color-stop(90%,rgba(250,228,94,0.5)), color-stop(100%,rgba(250,228,94,0)));
    background: -webkit-linear-gradient(top,  rgba(239,203,89,1) 0%,rgba(244,214,91,1) 39%,rgba(250,228,94,0.5) 90%,rgba(250,228,94,0) 100%);
    background: -o-linear-gradient(top,  rgba(239,203,89,1) 0%,rgba(244,214,91,1) 39%,rgba(250,228,94,0.5) 90%,rgba(250,228,94,0) 100%);
    background: -ms-linear-gradient(top,  rgba(239,203,89,1) 0%,rgba(244,214,91,1) 39%,rgba(250,228,94,0.5) 90%,rgba(250,228,94,0) 100%);
    background: linear-gradient(top,  rgba(239,203,89,1) 0%,rgba(244,214,91,1) 39%,rgba(250,228,94,0.5) 90%,rgba(250,228,94,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcb59', endColorstr='#00fae45e',GradientType=0 );
  }
}
 /* <-------------------------------------------------------------------end 705 px or smaller breakpoint */

/* <-------------------------------------------------------------------Begin 811 px to 1015 px breakpoint */

@media screen and (max-width:710px) {
   // .blog_block { margin-top: 19em; }
   #inner_feature_pic img {display:none;
    visibility: hidden;}
  }
  @media screen and (min-width:711px) and (max-width:870px) {
   // .blog_block { margin-top: 13em; }
 }
 @media screen and (min-width:871px) and (max-width:1014px){
 // .blog_block { margin-top: 9em; }
}

@media screen and (min-width:1015px) {
  // .blog_block { margin-top: 10rem; }
}
/* <-------------------------------------------------------------------End 811 px to 1015 px breakpoint */




@media screen and (min-width: 706px) {

// .slogan {
//     font-size: 1.5em; //24px
//     top: 1.5em;
//     display: block;
//   }
  #menu-blog-nav {
    /* for two-row blog navigation */
    background: url('images/beachbar.png') left top repeat-x;
    background-size: 100% 60px;
    padding-bottom: 1em;
    padding-left: 2em;
  }
/*  .page>#content_box>#content>.post:nth-child(1){
    padding-top: 5.5em;
  }*/

  /* slogan breakpoint */

 /*ensure no overlap for expanded what's new accordion elements*/
      } /* <----------------------------------------------------------------------end 706 px or larger breakpoint */

      @media screen and (min-width: 628px) {
        .whalf>article>.new_title {
          margin: 0 0 0 0;
          clear:both;
          position:relative;
          width: 200%;
        }
      }


      @media screen and (min-width: 811px) {
        .whalf>article>.new_title {
          width: 100%;
        }
      }

      @media screen and (max-width: 811px) { /* <---------------------------------811 px or smaller breakpoint */
        #header_area { /* lighter gradient for slightly wider */
          background: rgb(254,213,148);
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDU5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2YyYTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top, rgba(254,213,148,1) 0%, rgba(247,242,167,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,213,148,1)), color-stop(100%,rgba(247,242,167,1)));
          background: -webkit-linear-gradient(top, rgba(254,213,148,1) 0%,rgba(247,242,167,1) 100%);
          background: -o-linear-gradient(top, rgba(254,213,148,1) 0%,rgba(247,242,167,1) 100%);
          background: -ms-linear-gradient(top, rgba(254,213,148,1) 0%,rgba(247,242,167,1) 100%);
          background: linear-gradient(top, rgba(254,213,148,1) 0%,rgba(247,242,167,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed594', endColorstr='#f7f2a7',GradientType=0 );
        }
      } /* <----------------------------------------------------------------------end 811 px or larger breakpoint */


        @media screen and (max-width:1279px) {/* <----------------------------------1279 px or smaller breakpoint (desktop) */
          /* less than widescreen */
          #header_area {
            /* blog pages switch to 2-row nav */
            padding-top: 0;
            height: 18.5em;
            overflow: visible;
          }
          /* nav=50px */

          .about #header_area{ height: 14.8em; }

          body.home,
          body.about,
          body.services,
          body.resources { background-size: auto 40px }

          #menu-blog-nav #menu-item-2212 { clear: both }
          } /*  <-----------------------------------------------------------------end 1279 px or smaller breakpoint (desktop) */

          /* ------------------------------------------------------------------------------------BREAKPOINT FOR WIDESCREENS */
          @media screen and (min-width:1280px) {
            /* ! widescreen */

            /* body.services { } */
            #menu-blog-nav {
              background: url('../library/images/beachbar.png') left top repeat-x;
              background-size: auto 25px;
              padding: 0 0 1em 2em;
            }
            body {
              background-size: auto 50px;
              background-position: left 155px;
            }
            #header_area {
              /* blog pages */
              padding-top: 0;
              height: 15.3em;
              overflow: visible;
            }
  /*
      .home #header_area {
      height: 9.7em;
      }
      */
      .services #header_area { height: 14.5em }
      .resources #header_area {
        padding-top: 0;
        height: 14.8em;
        overflow: visible;
      }
      .about #header_area {height: 15em;}


      /* .services #header_area { padding-top:0; height:10.8em; overflow:visible;} */
    }
