@import url(css/jquery-ui-1.8.16.custom.css);
@import url(css/pending.css);
@import url(css/positioning.css);
@import url(css/tooltips.css);
@import url("http://fonts.googleapis.com/css?family=Calligraffitti");
@import url("http://fonts.googleapis.com/css?family=Buda:300");
@import url("http://fonts.googleapis.com/css?family=La+Belle+Aurore");
/*
File:			custom.css
Description:	Custom styles for the Oasis theme, using the Thesis framework.
Usage Tip: Use the "custom" class to override *any* CSS declarations contained in the style.css file.*/
/*---:[ core layout elements ]:---*/
.full_width {
  width: 100%;
  clear: both; }

.full_width .page {
  width: 101.7em;
  margin: 0 auto;
  padding-right: 2.2em;
  padding-left: 2.2em; }

#header_area .page {
  padding-top: 2.2em; }

#footer_area .page {
  padding-bottom: 2.2em; }

#header, #footer {
  padding-right: 1.1em;
  padding-left: 1.1em; }

#content_box {
  width: 100%;
  background: url("../lib/images/dot-ddd.gif") 73.4em 0 repeat-y; }

.no_sidebars {
  background: none !important; }

#content {
  width: 73.4em;
  float: left; }

.no_sidebars #content {
  width: 100%; }

.post_box, .teasers_box, .full_width #content_box .page {
  margin: 0 2.3em 0 1.1em; }

.full_width #content_box .page {
  width: auto; }

.no_sidebars .post_box {
  margin: 0 1.1em; }

.teasers_box {
  width: 70em; }

.teaser {
  width: 33.9em; }

#archive_intro, .prev_next {
  padding-right: 2.3em;
  padding-left: 1.1em; }

#sidebars {
  width: 28.2em;
  border: 0;
  float: right; }

.sidebar {
  width: 100%; }

#sidebar_1 {
  border: 0; }

.sidebar ul.sidebar_list {
  padding-right: 1.1em;
  padding-left: 1.1em; }

/*---:[ nav styles ]:---*/
.menu ul, .menu ul li {
  width: 15em; }

.menu ul ul, .menu :hover ul :hover ul {
  left: 14.9em; }

.menu li:hover ul, .menu a:hover ul {
  left: -0.1em; }

.menu {
  border-width: 0 0 0.1em 0.1em; }

/*---:[ multimedia box elements ]:---*/
#multimedia_box {
  padding: 1.1em; }

#image_box img {
  display: block;
  padding: 0.1em;
  border-width: 0.1em; }

#image_box img.square {
  width: 25.6em;
  height: 25.6em; }

#image_box img.four_by_three {
  width: 25.6em;
  height: 19.2em; }

#image_box img.three_by_four {
  width: 25.6em;
  height: 34.1em; }

#image_box img.three_by_two {
  width: 25.6em;
  height: 17.1em; }

#image_box img.two_by_three {
  width: 25.6em;
  height: 38.4em; }

#image_box img.five_by_four {
  width: 25.6em;
  height: 20.5em; }

#image_box img.four_by_five {
  width: 25.6em;
  height: 32em; }

#image_box img.sixteen_by_nine {
  width: 25.6em;
  height: 14.4em;
  margin: 0 auto; }

#image_box img.nine_by_sixteen {
  width: 25.6em;
  height: 45.5em;
  margin: 0 auto; }

#image_box img.two_by_one {
  width: 25.6em;
  height: 12.8em; }

#image_box img.one_by_two {
  width: 25.6em;
  height: 51.2em; }

/*---:[ feature box styles ]:---*/
#feature_box {
  padding-right: 1.1em;
  padding-left: 1.1em; }

/*---:[ comments area ]:---*/
#comments {
  margin-right: 2.3em;
  margin-left: 0em; }

.comments_intro, #respond_intro {
  margin-left: 1.1em; }

dl#comment_list dt, #trackback_list {
  padding-right: 1.1em;
  padding-left: 1.1em; }

dl#comment_list dd {
  padding-left: 1.1em; }

dl#comment_list dd .format_text, dl#comment_list dd #respond {
  padding-right: 1.1em; }

dl#comment_list dl dt {
  padding-left: 2.2em;
  border-width: 0 0 0 0.1em; }

dl#comment_list dl dt.bypostauthor {
  padding-left: 2.1em;
  border-width: 0 0 0 0.2em; }

dl#comment_list dl dd {
  padding-left: 0; }

dl#comment_list dl dd article {
  padding-left: 1.6em;
  border-width: 0 0 0 0.071em; }

dl#comment_list dl dd.bypostauthor > article {
  padding-left: 1.5em;
  border-width: 0 0 0 0.143em; }

dl#comment_list dl dd dl {
  padding-left: 2.2em; }

#commentform {
  padding-right: 2.3em;
  padding-left: 1.1em; }

.comments_closed, .login_alert {
  margin-left: 1.1em; }

/*---:[ content elements ]:---*/
body {
  font-family: Verdana, sans-serif; }

#header {
  padding-top: 2.2em;
  padding-bottom: 2.2em; }

.post_box {
  padding-top: 2.2em; }

.headline_area {
  margin-bottom: 2.2em; }

.teasers_box {
  padding-top: 2.2em;
  padding-bottom: 2.2em; }

#multimedia_box {
  margin-bottom: 2.2em; }

#footer {
  padding-top: 1.1em;
  padding-bottom: 1.1em; }

/*---:[ #header styles ]:---*/
#header #logo {
  font-size: 3.6em;
  line-height: 1.167em; }

#header #tagline {
  font-size: 1.4em;
  line-height: 1.429em; }

/*---:[ nav menu styles ]:---*/
.menu table {
  bottom: -0.1em; }

.nav, .menu li ul {
  border-width: 0 0 0.1em 0; }

.menu li {
  margin-bottom: -0.1em; }

.menu li ul {
  margin-top: -0.1em; }

.menu ul ul {
  margin-top: 0; }

.menu a {
  font-size: 1.2em;
  line-height: 1.333em;
  padding: 0.667em 0.833em;
  border-width: 0.083em;
  border-left-width: 0; }

.menu ul a {
  width: 10.667em;
  border-left-width: 0.083em; }

/*---:[ headlines ]:---*/
.headline_area h1, .headline_area h2, #archive_intro h1 {
  font-size: 2.2em;
  line-height: 1.364em; }

article h2, article h3 {
  font-size: 1.286em;
  line-height: 1.222em;
  margin: 1.833em 0 0.611em 0; }

article h4 {
  font-size: 1em; }

article h5 {
  font-size: 0.786em; }

article h6 {
  font-size: 0.786em; }

.sidebar h3 {
  font-size: 1em;
  line-height: 1.385em;
  margin-bottom: 0.692em; }

#archive_intro h1 {
  margin-bottom: 1em; }

/*---:[ bylines ]:---*/
.headline_meta {
  font-size: 1em;
  line-height: 1.8em; }

.headline_meta .pad_left {
  padding-left: 0.9em; }

/*---:[ headline area (image thumbnails) ]:---*/
.headline_area img.alignleft {
  margin: 0 2.2em 2.2em 0; }

.headline_area img.alignright {
  margin: 0 0 2.2em 2.2em; }

.headline_area img.alignnone {
  margin: 0 auto 2.2em 0; }

.headline_area img.aligncenter {
  margin: 0 auto 2.2em auto; }

.headline_area img.frame {
  padding: 1em;
  border-width: 0.1em; }

/*---:[ post content area ]:---*/
article {
  font-size: 1.4em;
  line-height: 1.571em; }

article p {
  margin-bottom: 1.571em; }

article p.note, article p.alert {
  padding: 0.571em 0.786em; }

article .drop_cap {
  font-size: 3.571em;
  line-height: 0.76em;
  padding: 0.04em 0.12em 0 0;
  }

.ie6 article .drop_cap {
  padding-right: 0.06em; }

article acronym, article abbr {
  font-size: 0.786em; }

article code, article pre {
  font-family: Consolas, "Andale Mono", Monaco, Courier, "Courier New", Verdana, sans-serif;
}

article code {
  font-size: 0.929em; }

article pre {
  font-size: 0.857em;
  line-height: 1.5em;
  margin-bottom: 1.833em;
  padding: 0.667em 0.917em; }

article sub, article sup {
  line-height: 0.786em; }

article ul {
  margin: 0 0 1.571em 1.571em; }

article ol {
  margin: 0 0 1.571em 1.571em; }

article ul ul, article ul ol, article ol ul, article ol ol {
  margin: 0 0 0 1.571em; }

article dl {
  margin-bottom: 1.571em; }

article dd {
  margin-bottom: 1.571em; }

article blockquote {
  margin: 0 0 1.571em 0.786em;
  padding-left: 0.786em; }

/*---:[ pullquotes ]:---*/
article blockquote.right, article blockquote.left {
  width: 45%;
  font-size: 1.286em;
  line-height: 1.222em; }

article blockquote.right {
  margin: 0 0 1.222em 1.222em; }

article blockquote.left {
  margin: 0 1.222em 1.222em 0; }

/*---:[ image handling classes ]:---*/
article img.left, article img.alignleft, .wp-caption.alignleft {
  margin: 0 1.571em 1.571em 0; }

article img.right, article img.alignright, .wp-caption.alignright {
  margin: 0 0 1.571em 1.571em; }

article img.center, article img.aligncenter, .wp-caption.aligncenter {
  margin: 0 auto 1.571em auto; }

article img.block, article img.alignnone, .wp-caption.alignnone {
  margin: 0 auto 1.571em 0; }

article img[align="left"] {
  margin-right: 1.571em;
  margin-bottom: 1.571em;
}

article img[align="right"] {
  margin-bottom: 1.571em;
  margin-left: 1.571em; }

article img[align="middle"] {
  margin-bottom: 1.571em; }

article img.frame, article .wp-caption {
  padding: 0.714em;
  border-width: 0.071em; }

article img.stack {
  margin-left: 1.571em; }

article .wp-caption p {
  font-size: 0.857em;
  line-height: 1.5em;
  margin-bottom: 0; }

/*---:[ ad and miscellaneous "block" classes ]:---*/
article .ad {
  margin-left: 1.571em; }

article .ad_left {
  margin-right: 1.571em; }

/*---:[ after-post elements ]:---*/
article .to_comments {
  font-size: 0.857em;
  line-height: 1.833em;
  margin-bottom: 1.833em; }

article .to_comments span {
  font-size: 1.833em; }

article .post_tags {
  font-size: 0.857em;
  line-height: 1.833em;
  margin-bottom: 1.833em; }

/*---:[ multimedia box ]:---*/
#custom_box {
  font-size: 1.3em;
  line-height: 1.538em; }

/*---:[ archive intro block ]:---*/
#archive_intro {
  padding-top: 2.2em; }

/*---:[ previous and next links ]:---*/
.prev_next {
  padding-top: 1.1em;
  padding-bottom: 1.1em; }

.prev_next p {
  font-size: 1em;
  line-height: 2.2em; }

.post_nav .previous {
  margin-bottom: 0.55em; }

.post_nav a {
  font-size: 1.4em;
  line-height: 1.571em; }

/*---:[ comment area ]:---*/
#comments {
  margin-top: 4.4em; }

.comments_intro {
  margin-bottom: 1.1em; }

.comments_intro p {
  font-size: 1.2em;
  line-height: 1.833em; }

.comments_intro span {
  font-size: 1.833em; }

#comment_list, #trackback_list {
  margin-bottom: 4.4em; }

dl#comment_list dt {
  padding-top: 1.8em; }

dl#comment_list dt span {
  font-size: 1.2em;
  line-height: 1.833em; }

dl#comment_list dt .comment_author {
  font-size: 1.6em;
  line-height: 1.375em;
  padding-right: 0.688em; }

.avatar img {
  margin-left: 0.833em; }

.comment_time {
  padding-right: 0.917em; }

.comment_num {
  padding-left: 0.833em; }

.comment_num a {
  font-size: 1em;
  line-height: 1.833em;
  padding: 0.083em 0.25em; }

dl#comment_list dd {
  padding-top: 1.1em; }

dl#comment_list dd p.reply a {
  font-size: 0.786em;
  line-height: 1.636em; }

dl#comment_list dl dd p.reply {
  margin-bottom: 0; }

dl#comment_list dl dt, dl#comment_list dl dd {
  padding-top: 0; }

dl#comment_list dl dd article {
  margin-bottom: 1.571em; }

#trackback_list {
  padding-top: 1.1em;
  list-style: none; }

#trackback_list a {
  font-size: 1.4em;
  line-height: 1.571em; }

#trackback_list span {
  font-size: 1.2em;
  line-height: 1.833em; }

#comment_nav_2 {
  margin-top: -4.4em;
  margin-bottom: 4.4em; }

.comments_closed {
  margin-top: 4.4em;
  margin-bottom: 2.2em; }

/*---:[ comment form styles ]:---*/
#respond {
  margin-bottom: 4.4em; }

#respond_intro {
  margin-bottom: 1.1em; }

#respond_intro p {
  font-size: 1.7em;
  line-height: 1.294em; }

#cancel-comment-reply-link {
  font-size: 1.1em;
  line-height: 1em;
  padding: 0.545em 0.727em;
  border-width: 0.182em; }

.login_alert {
  margin-top: 4.4em;
  margin-bottom: 2.2em;
  padding: 1.1em; }

#commentform {
  padding-top: 1.1em; }

#commentform p, .login_alert p {
  font-size: 1.4em;
  line-height: 1.571em; }

#commentform p.comment_box {
  line-height: 0.786em; }

#commentform label {
  padding-left: 0.786em; }

#commentform textarea {
  height: 12.571em;
  line-height: 1.571em; }

#commentform span.allowed {
  width: 97.3%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-width: 0 0.071em 0.071em 0.071em; }

#commentform span.allowed span {
  font-size: 0.857em;
  line-height: 1.833em;
  padding: 0 0.583em; }

/* Support for the highly-recommended Subscribe to Comments Plugin */
#commentform p.subscribe-to-comments {
  font-size: 1.4em; }

#commentform p.subscribe-to-comments label {
  font-size: 1em; }

/*---:[ sidebar styles ]:---*/
#column_wrap .sidebar ul.sidebar_list {
  padding-top: 2.2em; }

li.widget {
  font-size: 1.3em;
  line-height: 1.385em;
  margin-bottom: 2.769em; }

li.tag_cloud {
  line-height: 1.692em; }

li.widget p {
  margin-bottom: 1.385em; }

li.widget abbr, li.widget acronym {
  font-size: 0.846em; }

li.widget code {
  font-size: 0.923em; }

li.widget ul li {
  margin-bottom: 0.692em; }

li.widget li ul {
  margin: 0.692em 0 0 1.385em; }

/*---:[ widget box styles ]:---*/
li.widget .widget_box {
  padding: 0.692em;
  border-width: 0.077em; }

/*---:[ google custom search ]:---*/
li.thesis_widget_google_cse form input[type="submit"] {
  font-size: 1em;
  margin-top: 0.462em;
  padding: 0.154em 0.231em; }

/*---:[ calendar widget ]:---*/
#calendar_wrap a {
  padding: 0.077em; }

#calendar_wrap a:hover {
  padding: 0.077em; }

table#wp-calendar caption {
  font-size: 0.846em;
  line-height: 2em; }

table#wp-calendar th {
  font-size: 0.846em;
  line-height: 2em;
  padding-top: 0.091em; }

table#wp-calendar td {
  line-height: 1.692em; }

table#wp-calendar td#next, table#wp-calendar td#prev {
  font-size: 0.846em;
  line-height: 2em; }

table#wp-calendar td#next {
  padding-right: 0.545em; }

table#wp-calendar td#prev {
  padding-left: 0.545em; }

/*---:[ form inputs ]:---*/
input, textarea {
  font-family: Verdana, sans-serif; }

article input, #commentform input, #commentform textarea {
  width: 45%;
  padding: 0.214em;
  border-width: 0.071em 0.071em 0.071em 0.071em; }

#commentform textarea {
  width: 96%; }

article input.form_submit, #commentform .form_submit {
  font-size: 1.143em;
  padding: 0.313em 0.25em; }

.sidebar .text_input, .sidebar .form_submit {
  padding: 0.308em;
  font-family: Verdana, sans-serif; }

.sidebar input[type="text"], .sidebar input[type="submit"] {
  padding: 0.308em;
  font-family: Verdana, sans-serif; }

/*---:[ footer styles ]:---*/
#footer p {
  font-size: 1.2em;
  line-height: 1.667em; }

ul.sidebar_list {
  padding-top: 2.2em; }

/*---:[ teaser styles ]:---*/
.teaser h2 {
  font-size: 1.6em;
  line-height: 1.375em; }

.teaser .format_teaser {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.teaser .teaser_author, .teaser .teaser_category, .teaser .teaser_date, .teaser .teaser_comments, .teaser .edit_post {
  font-family: Verdana, sans-serif; }

.teaser .teaser_author {
  font-size: 1em;
  line-height: 1.6em; }

.teaser .teaser_category {
  font-size: 1em;
  line-height: 1.6em; }

.teaser .teaser_date {
  font-size: 1em;
  line-height: 1.6em; }

.teaser .teaser_comments {
  font-size: 1em;
  line-height: 1.6em; }

.teaser .teaser_link {
  font-size: 1.2em;
  line-height: 1.5em; }

.teaser .post_tags {
  font-size: 1.1em;
  line-height: 1.636em; }

.teaser .edit_post {
  padding-left: 0.8em; }

/*---:[ thumbnails ]:---*/
.teaser .post_image_link img.alignleft {
  margin-right: 1.8em;
  margin-bottom: 1.8em; }

.teaser .post_image_link img.alignright {
  margin-left: 1.8em;
  margin-bottom: 1.8em; }

.teaser .post_image_link img.aligncenter {
  margin-bottom: 1.8em; }

.teaser .post_image_link img.alignnone {
  margin: 0 auto 1.8em 0; }

.teaser .post_image_link img.frame {
  padding: 0.8em;
  border-width: 0.1em; }

.teaser .format_teaser .post_image_link img.alignleft {
  margin-right: 0.75em;
  margin-bottom: 0; }

.teaser .format_teaser .post_image_link img.alignright {
  margin-left: 0.75em;
  margin-bottom: 0; }

.teaser img.aligncenter {
  margin-bottom: 1rem; }

.teaser img.frame {
  padding: 0.333em;
  border-width: 0.083em;
}

/*---:[ layout colors ]:---*/
body {
  color: #111111;
  background: #FFFFFF; }

.full_width > .page {
  background: #FFFFFF; }

a, h2 a:hover, #logo a:hover {
  color: #2361A1; }

#logo, #logo a {
  color: #111111; }

#tagline {
  color: #888888; }

h1, h2, h2 a {
  color: #111111; }

.headline_meta, .headline_meta a, .teaser_author, .teaser_date, .teaser .edit_post, .teaser_author a, .teaser_comments, .teaser_category, .teaser .edit_post a {
  color: #888888; }

.headline_meta a:hover, .teaser_author a:hover, .teaser_comments:hover, .teaser_category:hover, .teaser .edit_post a:hover {
  color: #111111; }

.sidebar h3 {
  color: #555555; }

.image_box {
  background: #FFFFFF; }

.video_box {
  background: #000000; }

.custom_box {
  background: #FFFFFF; }

#footer, #footer a {
  color: #888888; }

#footer a:hover {
  color: #111111; }

/*---:[ nav colors ]:---*/
.menu, .menu a, .menu li ul {
  border-color: #DDDDDD; }

.menu .current a, .menu .current-cat a, .menu .current-menu-item a {
  border-bottom-color: #FFFFFF; }

.menu ul .current a, .menu ul .current-cat a, .menu .current ul a, .menu .current-cat ul a, .menu ul .current-menu-item a {
  border-bottom-color: #DDDDDD; }

.menu a, .menu .current ul a, .menu .current-cat ul a, .menu .current-menu-item ul a {
  color: #111111;
  background: #EFEFEF; }

.menu a:hover, .menu .current ul a:hover, .menu .current-cat ul a:hover, .menu .current-parent a:hover, .menu .current-menu-item ul a:hover, .menu .current-menu-ancestor a:hover {
  color: #111111;
  background: #DDDDDD; }

.menu .current a, .menu .current a:hover, .menu .current-cat a, .menu .current-cat a:hover, .menu .current-menu-item a, .menu .current-menu-item a:hover {
  color: #111111;
  background: #FFFFFF; }

.menu .current-parent > a, .menu .current-cat-parent > a, .menu .current-menu-ancestor > a {
  color: #111111;
  background: #F0EEC2; }

/*---:[ border package ]:---*/
#header {
  border-width: 0 0 0.3em 0; }

.post_box, .teasers_box {
  border-width: 0.1em 0 0 0; }

#footer {
  border-width: 0.3em 0 0 0; }

#feature_box, #archive_intro, #comment_nav_2 {
  border-width: 0 0 0.2em 0; }

.prev_next {
  border-width: 0.2em 0 0 0; }

.image_box, .custom_box {
  border-width: 0 0 0.1em 0; }

/*============================================
=              CUSTOM.CSS FROM LEGACY THEME			 	    =
=============================================*/
/* END "WHAT'S NEW" LISTINGS ON HOMEPAGE */
.custom .resources .slidewrap2 ul.slider li.slide blockquote.pquote {
  background-image: none; }

/* .custom #content { border-right: .5px solid #1E92AB; margin-top:} */
.nobr {
  white-space: nowrap; }

.custom p.note {
  margin-top: 5px; }

ul.mainpoints {
  margin-left: 8%; }

/*
.home article {
	margin-top:1.6em;
}
*/
.custom article p.to_comments {
  display: none;
  visibility: hidden; }

/* Removes the date from testimonials, publications */
.custom .testimonials .headline_meta, .custom .testimonials .teaser_category, #content.headline_meta .resources {
  display: none;
  visibility: hidden; }

.custom #post-548 .headline_area, .custom #post-537 .headline_area, .custom #post-552 .headline_area {
  display: none;
  visibility: hidden; }

/* Removes the title from landing page */
.custom #post-528 .headline_area h2 {
  display: none;
  visibility: hidden; }

#content #sub-tabs .ui-tabs-nav {
  background-repeat: repeat-x;
  margin-left: -2.2%;
  /*     margin-right: -19%; */
  overflow: hidden;
  padding-left: 2.5%;
  position: absolute;
  width: 100%;
  background-size: auto 80px; }

.custom .slideframe {
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-style: solid;
  border-width: .5px;
  border-color: black;
  background-color: #FCFFFC;
  box-shadow: 0.2em 0.2em 0.75em rgba(30, 146, 171, 0.5); }

.custom article .slidecaption {
  text-align: left;
  font-family: "Calligraffitti","Buda", serif;
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: .2em;
  margin-top: .1em;
  padding-top: .5em;
  padding-bottom: none;
  padding-left: .5%;
  padding-right: .5%;
  width: 99%;
  height: auto; }

.custom h1.cloudbox {
  font-style: normal;
  /* 	font-weight:400; */
  font-family: 'verdana',serif;
  font-size: 1.2em;
  color: #4CCE7E;
  margin-left: .5em;
  max-width: 100%;
  background-color: #fff;
  padding: 0.4178272928%;
  border-width: 0.4178272928% 0.696378830083% 0.696378830083% 0.4178272928%;
  /* 3px/#content 5px/#content 5px/#content 3px/#content */
  border-style: solid;
  border-color: #1E92AB; }

.custom h3.cloudbox {
  color: #EFCB59;
  padding: .5em;
  margin-left: .5em;
  font-family: 'Verdana',sans-serif; }

.custom h4.cloudbox {
  font-size: 1.2em;
  color: #1E92AB;
  font-decoration: none;
  font-weight: bold;
  line-height: 1.2em; }

.custom .cloudbox {
  background: #CFF1F2;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8EE8F',endColorstr='#CFF1F2');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ee8f), to(#cff1f2));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #f8ee8f, #cff1f2);
  /* for firefox 3.6+ */
  border: 5px outset #B3FCFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 0 -10px 30px #F0F187 inset;
  /* Saf3-4 */
  -moz-box-shadow: 0 -10px 30px #F0F187 inset;
  /* FF3.5 - 3.6 */
  box-shadow: 0 -10px 30px #F0F187 inset;
  /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  border: 0px solid #C4B474; }

.custom .cloudbox p {
  padding: .8em; }

.custom a.bluebtn {
  -webkit-box-shadow: 0 4px 4px #1e92ab, 0 5px 8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 4px #1e92ab, 0 5px 8px rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 4px #1e92ab, 0 5px 8px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  -moz-transition: -moz-box-shadow .2s ease-in-out;
  -o-transition: -o-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  margin: 3%; }

.custom .bluebtn span {
  padding: 3%;
  line-height: 1;
  background-color: #EEFFFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeffff), to(#cff1f2));
  background: -moz-linear-gradient(#eeffff, #cff1f2);
  /*
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      */
  -webkit-box-shadow: 0 4px 0 #1ad2b8, 0 6px 9px rgba(207, 241, 242, 0.3);
  -moz-box-shadow: 0 4px 0 #1ad2b8, 0 6px 9px rgba(207, 241, 242, 0.3);
  box-shadow: 0 4px 0 #1ad2b8, 0 6px 9px rgba(207, 241, 242, 0.3);
  font-family: 'Verdana',sans-serif;
  /* 	font-size:1.2em; */
  font-weight: 200;
  white-space: nowrap;
  color: #1E92AB;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25px;
  text-align: center;
  width: 100%; }

.custom a.bluebtn:active {
  -webkit-box-shadow: inset 0 -1px 1px #1e92ab;
  -moz-box-shadow: inset 0 -1px 1px #1e92ab;
  box-shadow: inset 0 -1px 1px #1e92ab;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -o-transition: -o-transform .2s ease-in-out;
  transition: transform .2s ease-in-out; }

.custom .bluebtn:active span {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px); }

.custom .leafbox {
  background: #64B081;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64B081',endColorstr='#80EEF2');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#64b081), to(#80eef2));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #64b081, #80eef2);
  /* for firefox 3.6+ */
  border: .5% solid #4CCE7E;
  color: #154D4F;
  padding: .5% .5%; }

.custom .leafbox h3 {
  font-family: 'Verdana',sans-serif;
  color: #EFCB59;
  margin-top: 0.05%; }

.custom .bluebox {
  background: #154D4F;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D8BA3',endColorstr='#154D4F');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#1d8ba3), to(#154d4f));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #1d8ba3, #154d4f);
  /* for firefox 3.6+ */
  border: .5% solid #4CCE7E;
  color: #CFF1F2;
  padding: 1%; }

.custom .bluebox h3 {
  font-family: 'Verdana',sans-serif;
  color: #EFCB59;
  margin-top: 0; }

.custom .sandbox {
  background: #F8EE8F;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8EE8F',endColorstr='#EFCB59');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ee8f), to(#efcb59));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #f8ee8f, #efcb59);
  /* for firefox 3.6+ */
  border: 0.5% solid #EFCB59;
  border-radius: 8px;
  -moz-border-radius: 8px;
  /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 0 -10px 30px #F0F187 inset;
  /* Saf3-4 */
  -moz-box-shadow: 0 -10px 30px #F0F187 inset;
  /* FF3.5 - 3.6 */
  box-shadow: 0 -10px 30px #F0F187 inset;
  /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  border: 1px solid #C4B474;
  color: #1E92AB;
  padding: 1%; }

.custom .sandbox h3 {
  color: #1E92AB;
  margin-top: 0; }

.custom #sidebars blockquote.pquote, .custom .pquoteyellow {
  font-style: normal;
  font-weight: 200;
  border-left: 1% solid #51C5D8;
  /* 	margin-left:0; */
  font-family: "Verdana",serif;
  font-size: 1.2em;
  color: #1E92AB; }

.custom #content blockquote.pquote, .custom .pquoteyellow {
  font-style: normal;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1% solid #51C5D8;
  font-family: "Verdana",serif;
  font-size: 1em;
  /* 	line-height: .9em; */
  color: #1E92AB; }

.custom .pquote, .custom .pquoteyellow {
  padding: 1em;
  /* 	margin:1em; */
  border-left: 1% solid #51C5D8; }

.custom .pquoteyellow {
  line-height: 1.2em; }

.custom article blockquote.pquote, .custom #sidebars blockquote.pquote {
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-dk-l.png);
  background-size: contain; }

.custom article blockquote.pquoteyellow, .custom #sidebars blockquote.pquoteyellow {
  background-color: #F8EE8F;
  border: 2px solid #EFCB59;
  border-radius: 2%;
  -moz-border-radius: 25px;
  /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 3px 3px 4px 1px #154D4F;
  /* Saf3-4 */
  -moz-box-shadow: 3px 3px 4px 1px #154D4F;
  /* FF3.5 - 3.6 */
  box-shadow: 3px 3px 4px 1px #154D4F;
  /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  background-position: left top,right bottom;
  background-image: url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-lt-l.png), url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-lt-r.png) 50%;
  background-repeat: no-repeat;
  background-size: contain; }

.custom .bquote, blockquote.quotequote {
  font-style: italic;
  font-decoration: none;
  font-family: 'Verdana',serif;
  /* 	font-size: 1.3em; */
  font-weight: 250;
  line-height: 1.4em;
  color: #2361A1; }

.custom .bquote img, .custom .quotequote img {
  position: relative;
  /*     border-radius: 12px 12px 12px 12px; */
  box-shadow: 0 0 1em #000000;
  float: right;
  height: auto;
  margin: -5% 5% 5% 5%;
  width: 30%;
  max-width: 100%; }

.custom .bquote a {
  margin: 2%;
  padding: 1%; }

.custom article blockquote.bquote, .custom #sidebars blockquote.bquote {
  background-color: #CFF1F2;
  border: .5px solid #1E92AB;
  border-radius: 10%;
  -moz-border-radius: 10%;
  /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 3px 3px 4px 1px #154D4F;
  /* Saf3-4 */
  -moz-box-shadow: 3px 3px 4px 1px #154D4F;
  /* FF3.5 - 3.6 */
  box-shadow: 3px 3px 4px 1px #154D4F;
  /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  background-position: bottom right;
  background-image: url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-lt-r.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* 	max-width:53.85%; */ }

blockquote.quotequote {
  background-position: right bottom;
  background-image: url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-lt-r.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(207, 241, 242, 0.5);
  border-left: 0px none;
  box-shadow: 0.5% 0.5% 0.5% rgba(30, 146, 171, 0.5); }

blockquote.quotequote p {
  font-style: normal;
  margin-left: 3%;
  color: #1E92AB;
  padding-top: 3%; }

blockquote.quotequote .author {
  /* 	font-size:1em; */
  font-style: italic;
  font-weight: 300;
  text-align: right;
  margin-left: 3%; }

/* ! Giftbox  */
/*
.custom #signup-box.giftbox .giftpack{padding: 5%;
color: rgba(0,0,0,1);}
.custom .post_box, .teasers_box, .custom .full_width #content_box .page {
}
*/
li.widget {
  clear: both;
  padding: none;
  margin: none; }

p.three-d {
  /* 	font-size:1.2em; */
  line-height: normal; }

.custom #custom_box .signup-box {
  box-shadow: 1px 1px 4px #1E92AB; }

.custom .peace, .custom #signup-box .peace, .custom #signup-box-two .peace, .custom #custom_box .peace {
  font-family: 'buda', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  font-style: none;
  text-decoration: none;
  color: #2361A1;
  text-align: center; }

.testes-link, a.testes-link {
  background-image: #ccffff url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-lt-l.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* 	height:1.3em; */
  position: bottom left;
  display: block;
  width: 96%;
  /* 	background-color:#CCFFFF; */
  padding: 1.5% 15%;
  margin: 0 0 0 -15%;
  font-family: 'Buda',sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: #1E92AB;
  text-transform: none;
  text-align: right;
  text-decoration: none; }

a.testes-link:hover {
  background-image: url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/images/punctuation-marks-dk-r.png);
  background-repeat: no-repeat;
  background-size: contain; }

.custom #sidebar_1 h3, .custom h3.widget_text, .custom #signup-box h4.titular, .custom #signup-box-two h4.titular, .custom #custom_box h4.titular {
  text-align: center;
  font-family: 'Verdana',sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: normal;
  /* 	padding:3% 3% 6% 3%; */
  /* 	margin:3%; */
  width: 100%;
  color: #1E92AB;
  text-decoration: none;
  text-transform: none;
  font-style: none;
  font-variant: normal;
  /* 	background: #CFFFFF; */ }

.custom #poptext p {
  font-family: 'Buda', sans-serif;
  font-size: 1.1em;
  font-variant: normal;
  color: #1E92AB; }

.custom #poptext {
  width: 98%;
  height: auto;
  position: relative; }

.custom .giftbox #poptext p.bigbold {
  padding: 0.4em;
  font-family: "Buda", sans-serif;
  font-variant: normal;
  line-height: 1.1em;
  color: #1E92AB; }

.custom .giftbox #poptext p.bigbold {
  font-size: 1.2em; }

a.jbutton.large.iconized {
  margin: .75em .75em; }

.jbutton.orange:active {
  color: #FCD3A5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F47A20',endColorstr='#FAA51A'); }

.jbutton.orange:hover {
  background: #F47C20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F88E11',endColorstr='#F06015'); }

a.jbutton:active {
  position: relative;
  top: 1px; }

a.jbutton:hover {
  text-decoration: none; }

.hentry a:hover {
  text-decoration: underline; }

.jbutton.orange {
  color: #FFFDFB;
  border: solid 1px #DA7C0C;
  background: #F78D1D;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAA51A',endColorstr='#F47A20'); }

.jbutton.large {
  font: 18px/100% Arial,Helvetica,sans-serif;
  padding: .5em 2em .55em; }
