/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
// @import "css/positioning.css";
// @import "css/tooltips.css";
@import url('http://fonts.googleapis.com/css?family=Calligraffitti');
@import url('http://fonts.googleapis.com/css?family=Buda:300');

@import url('http://fonts.googleapis.com/css?family=La+Belle+Aurore');

.calendar-container
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 75%;
}

div#ui-id-2.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom
{
    display: block !important;
    visibility: visible !important;
}

/*********************
GENERAL STYLES
*********************/
img
{
    max-width: 100%;
}

.banner-bg
{
    position: absolute;
    z-index: -500;
    top: 0;
    left: 0;

    width: 100%;
    height: 125px;
}

.menu_title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;

    position: relative;
    bottom: 1em;

    display: block;
    float: right;

    margin-right: 2em;

    color: #fff;
}

//reordering elements for home page
.half
{
    width: 100%;
}

.flex-half-reverse
{
    display: -webkit-flex;
    display:         flex;
            flex-direction: column-reverse;

    -webkit-box-orient: vertical; //for Safari pre-6.1
            box-orient: vertical;
    -webkit-flex-direction: column-reverse;
}

.two-col
{
    list-style-position: inside;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
       -moz-column-count: 2; /* Firefox */
            column-count: 2;
}

#social_thumbs
{
    /* you must set it to relative, so that you can use absolute position for children elements */
    position: relative;
}

#sidebars #social_thumbs ul
{
    position: absolute;    // center the menu, depend on the width of you menu
    top: 0;
    left: 0;
    //* remove the list style and spaces*/

    display: block;    //* position absolute so that z-index can be defined

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

#social_thumbs ul li
{
    display: inline-block;
    float: left;

    width: 17%;
    /* give some spaces between the list items */
    margin: 0 1%;    /* display the list item in single row */
}

#social_thumbs ul li img
{
    display: inline-block;
    /* give some spaces between the list items */

    max-width: 100%;    /* display the list item in single row */
}

/*
.custom #badges .badge{
display: block;
margin: 60px 0 0 0;
padding: 0;
position: relative;
text-align: center;
width: 100%;
}

.custom #badges .badge img {
max-width: 100%;
height: auto;
display: inline-block;
}

.custom #social_thumbs img.badge {
margin: 1%;
padding: 0;
height: auto;
display: inline-block;
float: left;
}

#screenshot {

//    position:absolute;
//border: 1px solid #ccc;
//   -moz-animation: fadein 2s ease-in-out; // FF5+ */
//   -ms-animation: fadein 2s ease-in-out; // IE10pp3 */
//   -webkit-animation: fadein 2s ease-in-out; // Saf5, Chrome */
//   background: #333;
//   color: #fff;
//   display: none;
//   font-size: 1.6em;
//   padding: 10px;
// }

#screens
{
    position: absolute;

    width: 200px;
    height: auto;
    margin-top: -294px;
    margin-left: -200px;

    -webkit-animation: fadein 2s ease-in-out; /* Saf5, Chrome */
       -moz-animation: fadein 2s  ease-in-out; /* FF5+ */
        -ms-animation: fadein 2s ease-in-out; /* IE10pp3 */
}

@-webkit-keyframes fadein
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-moz-keyframes fadein
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-ms-keyframes fadein
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

.custom img
{
    max-width: 100%;
    height: auto;
}

.two-col
{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
       -moz-column-count: 2; /* Firefox */
            column-count: 2;
}

.cf
{
    clear: both;
}

.beachbar div ul
{
    margin: 0;
}

.beachbar div ul li,
.beachbar div li
{
    font-size: .75rem;

    display: inline-block;

    margin-right: .25rem;

    a
    {
        text-transform: uppercase;

        color: $black;
    }
}

body
{
    font-family: $sans;
    font-size: 100%;
    line-height: 1.5;

    position: relative;

    color: $black;
    background-color: $white;

    -webkit-font-smoothing: antialiased;
}

.box-left
{
    float: left;

    margin-right: 1rem;
}

.stroked
{
    padding: 3px 4px 0 4px;

    border-width: 2px 4px 4px 2px;
    border-style: solid;
}

.stroked-teal
{
    border-color: $teal;

    @extend .stroked;
}

.stroked-orange
{
    border-color: $orange;

    @extend .stroked;
}

/*---------------------------------------------- Stroked color borders with white padding inside-------------------------------------*/
img.stroked,
blockquote.stroked,
.stroked
{
    //* 3px/#content 5px/#content 5px/#content 3px/#content */
    font-style: italic;

    max-width: 100%;
    padding: .4178272928%;

    border-width: .4178272928% .696378830083% .696378830083% .4178272928%;
    border-style: solid;
    border-color: #1e92ab;
    background-color: $white;
}


.textstroked,
.text-stroked
{
    -webkit-text-fill-color: $white;
    -webkit-text-stroke: .5px $black;
}

.entry-content img
{
    margin: 0;
}

/*********************
//LAYOUT & GRID STYLES
//*********************/
.wrap
{
    width: 96%;
    margin: 0 auto;
}

.sidebar
{
    p
    {
        word-break: keep-all;
        hyphens: manual;
    }

    h3
    {
        line-height: 1.385em;

        margin-bottom: .462em;
        padding-top: .5em;
    }

    input[type='text']
    {
        font-family: Verdana, sans-serif;
        font-size: 1.2em;

        width: 30%  /* 215px */ ;

        color: #666;
        -webkit-border-radius: 2.3255814%;
           -moz-border-radius: 2.3255814%;
                border-radius: 2.3255814%;
        background: linear-gradient(#999, #fff);
        background-color: #fff;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
        background-image: -webkit-linear-gradient(#999, #fff);
        background-image:    -moz-linear-gradient(#999, #fff);
        background-image:      -o-linear-gradient(#999, #fff);
        background-image:     -ms-linear-gradient(#999, #fff);

        nowhitespace: afterproperty;
         -khtml-border-radius: 2.3255814%;
    }
    input[type='text'],
    input[type='email']
    {
        font-family: Verdana, sans-serif;

        display: inline-block;

        margin: 0;
        padding: .25em .125em;
    }

    img.stroked
    {
        width: 30%;
        margin: 0;
        padding: .4178272928%;

        border-width: .950519142% 1.58419857% 1.58419857% .950519142%;
        border-style: solid;
        border-color: #1e92ab;
        background-color: $white;
    }
}

/*********************
//LINK STYLES
//*********************/
a
{
    transition: color .5s ease-in 0s;
}

a,
a:visited
{
    color: $link-color;

    /* on hover */
    &:hover,
    &:focus
    {
        color: $link-hover;
    }

    //* on click */
    //&:active {
    //  }

    /* mobile tap color */
    &:link
    {
        // like the :hover selector for mobile devices.
        -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    }
}
//******************************************************************
//H1, H2, H3, H4, H5 STYLES
//******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5
{
    font-weight: 500;

    word-break: keep-all;
    hyphens: none;

    text-rendering: optimizelegibility;

    // removing text decoration from all headline links
    a
    {
        text-decoration: none;
    }
}

h1,
.h1
{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.111em;
}

h1.page-title
{
    font-size: 24px;
    font-weight: 600;

    margin: 20px 0 0 0;

    letter-spacing: .25px;

    color: $teal;
}

h2,
.h2
{
    font-size: 28px;
    line-height: 1.4em;

    margin-bottom: .375em;
}
h2.section-title
{
    font-size: 24px;
}

h3,
.h3
{
    font-size: 20px;
    font-weight: 400;
}

h4,
.h4
{
    font-size: 17px;
    font-weight: 700;
}

h5,
.h5
{
    font-size: .846em;
    line-height: 1.6em;
}

//hide page title for about page
.about h1.page-title
{
    display: none;
    visibility: hidden;
}

/*********************
HEADER STYLES
*********************/
header[role=banner]
{
    display: inline-block;

    width: 100%;
    min-height: 118px;
    margin-top: 0;

    border: 0;
    background-color: transparent;
    background-image: url('../images/water_tile.png');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left 80px;
}

header > .nav
{
    position: absolute;
    top: 86px;
    left: 190px;

    float: left;
    // padding: 11px 0 0;
}

header .nav .current-menu-item a
{
    color: #1e92ab;
    text-shadow: 1px 1px 1px #f7f1ad;

    -webkit-text-stroke: .5px #f7f1ad;
}

.beachbar a
{
    padding: 5px;

    border-radius: 10px;
}

.beachbar a:active,
.ui-tabs-active
{
    color: $black;
    background-color: white(.2);
    box-shadow: 0 0 10px rgba(248, 243, 148, 1);
}

.beachbar a:hover,
.beachbar a:active
{
    color: $black;
    background-color: white(.35);
    box-shadow: 0 0 10px rgba(248, 243, 148, 1);
}

.beachbar .current-menu-item
{
    color: $black;
    background-color: white(.35);
    box-shadow: 0 0 10px rgba(248, 243, 148, .6);
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
//no bullets in the comments form
article nav ul li,
.respond-form ul li
{
    list-style-type: none;
}

// pagination navigation
.page-navigation li
{
    display: inline-block;
    float: left;

    margin: 0 .5rem;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.hentry
{
    margin-bottom: 1.5em;

    border: 0 solid $border-color;
    border-radius: 0;
    background-color: transparent;

    header
    {
        padding: 1rem 0;

        border-bottom: 0 solid $light-gray;
    }

    footer
    {
        padding: 1.5em;

        border-top: 0 solid $light-gray;

        p
        {
            margin: 0;
        }
    }
}

/* end .hentry */
.single-title,
.page-title,
.entry-title
{
    margin: 0;
}





.entry-title,
.archive-title,
h2.recent_posts_with_excerpts
{
    font-family: buda;
}



/* want to style individual post classes? Booya! */


/* post by id (i.e. post-3) */


/* general post style */


/* general article on a page style */


/* general style on an attatchment */


/* sticky post style */


/* hentry class */


/* style by category (i.e. category-videos) */


/* style by tag (i.e. tag-news) */

/* post meta */
.byline
{
    font-style: italic;

    margin: 0;

    color: $meta-gray;
}

.byline .meta-gray
{
    padding-left: .35rem;
}

/* Main article styles start here */
article
{
    padding: 10px 0 0;

    fieldset:last-child
    {
        margin: 0;
    }

    p
    {
        margin: 0 0 .75rem;
    }









    table
    {
        width: 100%;
        margin-bottom: 1.5em;

        border: 1px solid $gray;
    }

    table caption
    {
        font-size: .75em;

        margin: 0 0 7px;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: $meta-gray;
    }

    tr
    {
        border-bottom: 1px solid $gray;

        &:nth-child(even)
        {
            background-color: $light-gray;
        }
    }

    td
    {
        padding: 7px;

        border-right: 1px solid $gray;

        &:last-child
        {
            border-right: 0;
        }
    }

    th
    {
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        background-color: $light-gray;

        &:last-child
        {
            border-right: 0;
        }
    }

    blockquote
    {
        font-style: italic;

        margin: 0 0 1.5em .75em;
        padding: 0 0 0 .75em;
        // box-shadow: 0 0 10 10px rgba(30, 146, 171, .5);

        color: $blue;
        border-left: 3px solid $blue;
        background-color: rgba($white, .8);
        background-image: url(../images/punctuation-marks-dk-r.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }





    dd
    {
        font-size: .9em;

        margin-bottom: 1.5em;
        margin-left: 0;

        color: #787878;
    }

    img
    {
        max-width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    /*
image alignment on a screen this size may be
a bit difficult. It's set to start aligning
and floating images at the next breakpoint,
but it's up to you. Feel free to change it up.
*/
    .alignleft,
    img.alignleft
    {
        float: left;
    }

    .alignright,
    img.alignright
    {
        float: right;
    }

    .aligncenter,
    img.aligncenter
    {
        text-align: center;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail
    {
        max-width: 100%;
        height: auto;
    }

    pre
    {
        font-size: .9em;

        margin: 0 0 1.5em;
        padding: 1.5em;

        color: $light-gray;
        border-radius: 3px;
        background: $black;
    }

    .recent_posts_with_excerpts blockquote
    {
        font-style: normal;

        margin: 0;
        padding: 0;

        color: $black;
        border-left: 0 solid transparent;
        background-color: transparent;
        background-image: none;
        box-shadow: none;

        p
        {
            display: inline;

            margin: 0;
            padding: 0;
        }
    }

    h2
    {
        clear: both;
    }

    p.alignright
    {
        display: inline-block;
        //fix the floating Read More links in the recent posts widget
        float: none;

        margin: 0;
        padding: 0;
    }

    small
    {
        display: inline-block;
    }

    /* end article */
}

.sidebar
{
    word-break: keep-all;
    hyphens: none;

    .alignleft,
    img.alignleft
    {
        float: left;
    }

    .alignright,
    img.alignright
    {
        float: right;
    }

    .aligncenter,
    img.aligncenter
    {
        text-align: center;
    }
}

.wp-caption
{
    max-width: 100%;
    padding: 5px;

    background: #eee;

    /* images inside wp-caption */
    img
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }

    p.wp-caption-text
    {
        font-size: .85em;

        margin: 4px 0 7px;

        text-align: center;
    }
}

/* end .wp-caption */

/* image gallery styles */


/* end .gallery */

/* gallery caption styles */










// the tag output
.tags
{
    margin: 0;
}

img.attachment-large
{
    font-style: italic;

    width: 100%;
    // blue border with a white inner padding used on pics (like Sue pic on home page)
    max-width: 100%;
    padding: .4178272928%;

    border-width: .4178272928% .696378830083% .696378830083% .4178272928%; /* 3px/#content 5px/#content 5px/#content 3px/#content */
    border-style: solid;
    border-color: #1e92ab;
    background-color: #fff;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next
{
    margin: 1.5em 0;
}

.pagination
{
    text-align: center;

    ul
    {
        display: inline-block;
        clear: both;

        padding: 0;

        white-space: nowrap;

        border-radius: 3px;
        background-color: $white;
    }

    li
    {
        display: inline;
        float: left;
        overflow: hidden;

        margin: 0;
        padding: 0;

        border-right: 1px solid $gray;
    }

    a,
    span
    {
        font-size: 1em;
        font-weight: normal;
        line-height: 1em;

        display: inline-block;

        min-width: 1em;
        margin: 0;
        padding: 0;
        padding: .75em;

        text-decoration: none;

        color: $blue;

        &:hover,
        &:focus
        {
            color: $white;
            background-color: $blue;
        }
    }

    .current
    {
        cursor: default;

        color: $text-color;

        &:hover,
        &:focus
        {
            color: $text-color;
            background-color: $white;
        }
    }
}

/* end .oasis_page_navi */

/* fallback previous & next links */
.wp-prev-next
{
    .prev-link
    {
        float: left;
    }

    .next-link
    {
        float: right;
    }
}

/* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title
{
    margin: 0;
    padding: .75em;

    border-top: 1px solid $light-gray;

    /* number of comments span */
}



.commentlist
{
    margin: 0;

    list-style-type: none;
}

.comment
{
    position: relative;

    clear: both;
    overflow: hidden;

    padding: 1.5em;

    border-bottom: 1px solid $light-gray;

    .comment-author
    {
        padding: 7px;

        border: 0;
    }

    /* vcard */
    .vcard
    {
        margin-left: 50px;

        cite.fn
        {
            font-weight: 700;
            font-style: normal;
        }

        time
        {
            font-size: .9em;
            font-style: italic;

            display: block;

            a
            {
                text-decoration: none;

                color: $meta-gray;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }



        .avatar
        {
            position: absolute;
            left: 16px;

            border-radius: 50%;
        }
    }

    /* end .commentlist .vcard */
    &:last-child
    {
        margin-bottom: 0;
    }

    .children
    {
        margin: 0;



        /* variations */










        /* change number for different depth */
    }

    /* end children */
    &[class*=depth-]
    {
        margin-top: 1.1em;
    }

    &.depth-1
    {
        margin-top: 0;
        margin-left: 0;
    }

    &:not(.depth-1)
    {
        margin-top: 0;
        margin-left: 7px;
        padding: 7px;
    }









    /* comment meta */




    /* comment content */
    .comment_content
    {
        p
        {
            font-size: 1em;
            line-height: 1.5em;

            margin: .7335em 0 1.5em;
        }
    }

    /* end .commentlist .comment_content */

    /* comment reply link */
    .comment-reply-link
    {
        font-size: .9em;

        float: right;

        @extend .blue-btn;
    }

    /* end .commentlist .comment-reply-link */

    /* edit comment link */
    .comment-edit-link
    {
        font-size: .9em;
        font-style: italic;

        margin: 0 7px;

        text-decoration: none;
    }
}

/* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link
{
    font-size: .9em;
    font-style: italic;

    margin: 0 7px;

    text-decoration: none;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond
{
    padding: 1.5em;

    border-top: 1px solid $light-gray;

    @extend .cf;
}

#reply-title
{
    margin: 0;
}

.logged-in-as
{
    font-style: italic;

    margin: 0;

    color: $meta-gray;

    a
    {
        color: $text-color;
    }
}

.comment-form-comment
{
    margin: 1.5em 0 .75em;
}

.form-allowed-tags
{
    font-size: .9em;

    padding: 1.5em;

    background-color: $light-gray;
}

/* comment submit button */
#submit
{
    font-size: 1em;

    float: right;

    @extend .blue-btn;
}

/* comment form title */
#comment-form-title
{
    margin: 0 0 1.1em;
}

/* cancel comment reply link */


/* logged in comments */


/* allowed tags */
#allowed_tags
{
    margin: 1.5em 10px .7335em 0;
}

/* no comments */
.nocomments
{
    margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

/* Input elements-- forms for sidebar & contact page */

.sidebar h3
{
    line-height: 1.385em;

    margin-bottom: .462em;
    padding-top: .5em;
}

.sidebar .widget
{
    //drop shadow box for sidebar widget
    // box-shadow: 1px 1px 4px rgb(30, 146, 171);
    // background-color: rgba(255, 255, 255, .75);
}

.sidebar input[type='email']
{
    font-family: Verdana, sans-serif;
    font-size: 1.2em;

    color: #666;
    -webkit-border-radius: 2.3255814%;
       -moz-border-radius: 2.3255814%;
            border-radius: 2.3255814%;
    background: linear-gradient(#999, #fff);
    background-color: #fff;

     -khtml-border-radius: 2.3255814%;
}

.sidebar input[type='email']
{
    font-family: Verdana, sans-serif;

    width: 100%;
    max-width: 75%;
    padding: .25em;
}

.sidebar input[type='submit']
{
    margin: 0 0 15px 0;
}

div.sidebar
{
    background: -webkit-linear-gradient(left, rgba(201, 247, 242, .32) 0%, rgba(201, 241, 242, .4) 72%, rgba(201, 241, 242, .4) 73%, rgba(201, 241, 242, 0) 100%);
    background:    -moz-linear-gradient(left, rgba(201, 247, 242, .32) 0%, rgba(201, 241, 242, .4) 72%, rgba(201, 241, 242, .4) 73%, rgba(201, 241, 242, 0) 100%);
    background:     -ms-linear-gradient(left, rgba(201, 247, 242, .32) 0%, rgba(201, 241, 242, .4) 72%, rgba(201, 241, 242, .4) 73%, rgba(201, 241, 242, 0) 100%);
    background:      -o-linear-gradient(left, rgba(201, 247, 242, .32) 0%, rgba(201, 241, 242, .4) 72%, rgba(201, 241, 242, .4) 73%, rgba(201, 241, 242, 0) 100%);
    background:         linear-gradient(left, rgba(201, 247, 242, .32) 0%, rgba(201, 241, 242, .4) 72%, rgba(201, 241, 242, .4) 73%, rgba(201, 241, 242, 0) 100%);
    -webkit-box-shadow: -2px 2px 2px #1e92ab; /* Saf3-4, iOS 4..2 - 4.2, Android 2.3+ */
       -moz-box-shadow: -2px 2px 2px #1e92ab; /* FF3.5 - 3.6 */
            box-shadow: -2px 2px 2px #1e92ab;
}



.widget
{
    margin: 0;

    ul
    {
        li
        {
            /* deep nesting */
        }
    }
}

.no-widgets
{
    margin-bottom: 1.5em;
    padding: 1.5em;

    text-align: center;

    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
}

/* What's New (Upcoming Events) listings on home page
________________________________________________________________________*/
.subhead
{
    font-size: .8em;
    font-style: italic;
}

.ui-widget-header
{
    margin: 0 0;
    padding: .05em 0 0;
    /* border-bottom: 4px solid #4CA6A8; */

    border-color: #4ca6a8;
}

.ui-accordion .ui-accordion-header
{
    position: relative;

    clear: both;

    margin: 0 0 0 0;

    border: 1px solid darken($blue, 0%);
}

.ui-accordion .ui-accordion-header .event-header:link
{
    display: block;

    margin: 0;
    padding: .5em .5em .5em 1em;

    text-decoration: none;

    border-style: solid;
    background: none repeat scroll 0 0 #eff;
}

.ui-accordion .ui-accordion-header .event-header
{
    border-right: 0 solid $black;
    border-left: 0 solid #dff;
    background-color: #eff;
}

.ui-accordion .ui-accordion-header .event-header:hover
{
    color: $black;
    border-left-color: #fae55f;
    background: none repeat scroll 0 0 #aff;
    box-shadow: 0 0 10px rgba(248, 243, 148, 1);
}

.ui-accordion .ui-accordion-header h3
{
    line-height: 1.25;
    // border-color: rgb(76, 166, 168);
    // border-left-width: 1rem;
    // border-left-style: solid;

    display: inline;

    color: #448;
}

// .ui-accordion .ui-accordion-header h3:hover,
// .ui-accordion .ui-accordion-header h3:active,
// .ui-accordion .ui-accordion-header h5:hover,
// .ui-accordion .ui-accordion-header h5:active


.ui-accordion .ui-accordion-header h5
{
    margin: 0;
    padding: 0;
}

.ui-accordion > h5
{
    font-family: Verdana, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1;

    display: block;
    display: block;

    margin: 0;/*
letter-spacing: 2px;
text-transform: uppercase;
*/
    margin: 1em 0;
    padding: .5em 1em 0 1em;

    color: #448;
    border-bottom: 2px solid #4ca6a8;
}

.ui-accordion .event-header
{
    margin: 0 0;
    padding: .5rem 1rem;  /* padding: .05em .5em;; */
    /* border-bottom: 4px solid #4CA6A8; */

    border-color: #4ca6a8;  /* border-top: 2px solid #4CA6A8; */
}

.ui-accordion h3
{
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;
}

.ui-accordion h5
{
    position: relative;

    display: block;

    margin: 0;
}



.ui-accordion .ui-icon
{
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-top: .4rem;
    margin-right: 1em;

    background-image: url(../images/222222_256x240_icons_icons.png);
}

.ui-accordion .ui-icon-triangle-1-e
{
    float: left;

    background-position: -32px -16px;
}

.ui-accordion .ui-accordion-header .ui-icon-triangle-1-s
{
    float: left;

    background-position: -64px -16px;
}

.ui-accordion .ui-accordion-content
{
    font-size: .75rem;

    padding: .5rem 1rem;

    border: 1px solid darken($light-blue, 5%);
}

.ui-widget-header
{
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

.event-categories li
{
    list-style-type: none;
}

.su-posts .event-categories
{
    display: none;
}

.whatsnewdate
{
    font-size: .925em;

    padding-top: .2rem;

    text-indent: .5em;
    text-transform: uppercase;

    color: #888;
    border-width: 0;
    border-style: solid;
    border-color: $black;
    border-top-right-radius: 12px;

    @include css-gradient($white, $light-blue);
}

/*********************
FOOTER STYLES
*********************/
.footer
{
    clear: both;

    color: lighten($black, 30%);
    background-color: transparent;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/


/* end .footer-links */


/*********************************************************************************
/* "Sign Up Now" button- Custom 3D animated button from http://css3exp.com/button
**********************************************************************************/
div
{
    display: block;
}

div.mod
{
    margin: 0 0 30px;
    padding: 80px;

    text-align: center;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
            box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

#stamp
{
    display: block;

    margin: 20px 0;

    -webkit-transition: opacity .2s ease;
       -moz-transition: opacity .2s ease;
         -o-transition: opacity .2s ease;
            transition: opacity .2s ease;

    border: none;
}

#stamp:hover
{
    opacity: .7;
}

/* button styles */
a.btn
{
    display: inline-block;

    margin: 10px 0 20px 0;
    padding: 0;

    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
       -moz-transition:    -moz-box-shadow .2s ease-in-out;
         -o-transition:      -o-box-shadow .2s ease-in-out;
            transition:         box-shadow .2s ease-in-out;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0, 0, 0, .35);
       -moz-box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0, 0, 0, .35);
            box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0, 0, 0, .35);
}

.btn span
{
    font-family: 'Verdana', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;

    display: inline-block;

    padding: 10px 20px;
    padding: 1em 2.2em;

    -webkit-transition: -webkit-transform .2s ease-in-out;
       -moz-transition:    -moz-transform .2s ease-in-out;
         -o-transition:      -o-transform .2s ease-in-out;
            transition:         transform .2s ease-in-out;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background: -moz-linear-gradient(#fff, #e0f8ff) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e0f8ff));
    background-color: #cff1f2;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
       -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
            box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    text-shadow: 0 -1px 1px rgba(255, 255, 255, .8);
}

.btn:active
{
    -webkit-box-shadow: 0 8px 0 #1a74a1, 0 12px 10px rgba(0, 0, 0, .5);
       -moz-box-shadow: 0 8px 0 #1a74a1, 0 12px 10px rgba(0, 0, 0, .5);
            box-shadow: 0 8px 0 #1a74a1, 0 12px 10px rgba(0, 0, 0, .5);
}

.btn:active span
{
    -webkit-transform: translate(0, 4px);
       -moz-transform: translate(0, 4px);
         -o-transform: translate(0, 4px);
            transform: translate(0, 4px);
}

a.btn:link,
a.btn:visited
{
    text-decoration: none;

    color: #009dbb;
}

a.btn:hover,
a.btn:active
{
    color: #009dbb;
}

/**********************************************************************
End custom button
***********************************************************************/

/**********************************************************************
Logo animation
***********************************************************************/

/* LOGO ANIMATION */
@-webkit-keyframes pulse
{
    0%
    {
        -webkit-transform: scale(1);
    }

    100%
    {
        -webkit-transform: scale(2.2);
    }
}

@-moz-keyframes pulse
{
    /* larger scaling sizes due to graphic used in place of Webkit gradient */
    from
    {
        -moz-transform: scale(1);
    }

    to
    {
        -moz-transform: scale(2.2);
    }
}

#sun
{
    position: absolute;
    z-index: 50;
    top: -24px;
    left: 62px;

    overflow: visible;    /* background-image: -moz-radial-gradient( 50% 50% 0deg, circle cover, rgba(253, 250, 46, 1.00) rgba(232, 229, 67, .00) ,9% rgba(230, 189, 0, 1.00),11% rgba(236, 175, 53, 1.00),13% rgba(243, 255, 152, 1.00),23% rgba(255, 251, 67, .63),48% rgba(255, 246, 66, .00)); */

    width: 125px;
    height: 100px;    /* background: transparent url(http://www.oasislifedesign.com/wp-content/themes/thesis_182/custom/template/i_glow.png) no-repeat scroll center center; */

    -webkit-transition: -webkit-transform 2s ease-in-out;
       -moz-transition:    -moz-transform 2s ease-in-out;
        -ms-transition:     -ms-transform 2s ease-in-out;
         -o-transition:      -o-transform 2s ease-in-out;
            transition:         transform 2s ease-in-out;
    -webkit-animation: pulse 2s ease-in-out alternate;
       -moz-animation: pulse 2s ease-in-out alternate;
            animation: pulse 2s ease-in-out alternate;
    -webkit-animation-delay: 5s;
       -moz-animation-delay: 5s;
         -o-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-iteration-count: 2;
       -moz-animation-iteration-count: 2;
         -o-animation-iteration-count: 2;
            animation-iteration-count: 2;
    /* fallback */

    background: -webkit-radial-gradient(50% 50%, circle contain, rgba(248, 162, 31, .75) 0%, rgba(248, 212, 63, 1) 13%, rgba(248, 201, 43, 1) 16%, rgba(248, 238, 143, .85) 36%, rgba(250, 228, 94, .5) 44%, rgba(250, 236, 128, .25) 58%, rgba(250, 236, 128, 0) 76%, rgba(250, 236, 128, 0) 100%) !important;
    background:    -moz-radial-gradient(50% 50%, circle contain, rgba(248, 162, 31, .75), rgba(248, 162, 31, .75) 10%, rgba(248, 212, 63, 1) 13%, rgba(248, 201, 43, 1) 16%, rgba(248, 238, 143, .85) 36%, rgba(250, 228, 94, .5) 44%, rgba(250, 236, 128, .25) 58%, rgba(250, 236, 128, 0) 76%, rgba(250, 236, 128, 0));
}

#sun:hover
{
    -webkit-animation: pulse 2s infinite ease-in-out alternate;
       -moz-animation: pulse 2s infinite ease-in-out alternate;
            animation: pulse 2s infinite ease-in-out alternate;
}

#sun:link,
#sun:visited
{
    -webkit-transition: -webkit-transform 2s ease-in-out;
       -moz-transition:    -moz-transform 2s ease-in-out;
        -ms-transition:     -ms-transform 2s ease-in-out;
         -o-transition:      -o-transform 2s ease-in-out;
            transition:         transform 2s ease-in-out;
    -webkit-transform: scale(2.0);
       -moz-transform: scale(2);
    -webkit-animation: pulse 2s infinite ease-in-out alternate;
       -moz-animation: pulse 2s infinite ease-in-out alternate;
            animation: pulse 2s infinite ease-in-out alternate;
}

#idot
{
    position: relative;
    z-index: 100;
    top: 20px;
    left: 117px;

    width: 30px;
    height: 30px;

    background: url(..//images/idot.png) no-repeat scroll 0 0 transparent;
}

#logo
{
    position: relative;
    top: -3px;
    left: 14px;

    float: left;

    width: 190px;
    height: 109px;
    margin: 0;

    background-image: url(../images/logo.png);
    background-repeat: no-repeat no-repeat;
    background-position: 0 40px;
}

.beachbar div
{
    width: 100%;
    padding: .25rem .75rem;

    background-image: url(../images/beachbar.png);
    // margin-top: -6px;
    //to "underlap" the ocean strip
    background-repeat: repeat;
    background-size: cover;
}

.beachbar > div
{
    // padding-left: 190px;
    // min-height: 150px;
}

#content > .featured-post:nth-child(1)
{
    margin-top: 2rem;
}

#logo,
#sun
{
    cursor: pointer;
}

.slogan
{
    font-family: 'La Belle Aurore', cursive;    /*  left: 6.35em; for calligraffitti*/
    font-weight: 200;

    position: relative;

    display: inline;

    color: $blue;
}

.slogan
{
    //   white-space: nowrap;
}

.slogan a:hover
{
    color: $blue-ocean;
}

#inner:after
{
    position: absolute;
    z-index: 4;
    bottom: -8px;
    left: 45%;

    width: 15px;
    height: 15px;

    content: '';
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);

    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

#inner
{
    position: relative;

    width: 200px;
    margin: 20px;
    padding: 10px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

/* end http://blog.cooljaz124.com/css3-popup-box-with-shadow/ */

/* CATEGORY MENU ITEMS THAT "POP OUT" ON THE RIGHT WHEN HOVERED- SEE http://css3exp.com/code/view/ */

ol.cat
{
    border: 2px solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: rgba(255, 255, 255, .7);
}

ol.cat li
{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

ol.cat li:last-child
{
    border: none;
}

ol.cat li a
{
    font-weight: bold;

    position: relative;

    display: block;

    width: 230px;
    padding: 10px 20px;

    -webkit-transition: width .3s linear, background .2s ease;
       -moz-transition: width .3s linear, background .2s ease;
         -o-transition: width .3s linear, background .2s ease;
            transition: width .3s linear, background .2s ease;
    text-decoration: none;

    color: #222;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
            border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

ol.cat li a img
{
    position: absolute;
    top: 10px;
    right: 20px;

    opacity: .4;
}

ol.cat li a em
{
    font-size: .85em;
    font-weight: normal;
    font-style: normal;

    float: right;

    margin: 2px 30px 0 0;

    opacity: .5;
}

ol.cat li a:hover
{
    width: 245px;

    color: #fff;
    background-color: rgba(30, 99, 141, .85);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
}

ol.cat li a:hover img
{
    opacity: .6;
}

ol.cat li a:hover em
{
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
}

/* ! CONTACT FORM STYLING FROM ABKAPART.COM/CSS3 */
article input[type='submit']
{
    width: auto;
    padding: .5em 1em;
}

article fieldset
{
    margin: 0 0 10px;
}

article fieldset label
{
    font-weight: 700;
    line-height: 1.4;

    display: block;

    color: #666;
    color: rgba(0, 0, 0, .6);
    text-shadow: 0 1px 1px #fff;
}

textarea
{
    width: 100%;

    color: #666;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: linear-gradient(#999, #fff);
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 2%, from(#999), to(#fff));
    background-image: -webkit-linear-gradient(#999, #fff);
    background-image:    -moz-linear-gradient(#999, #fff);
    background-image:      -o-linear-gradient(#999, #fff);
    background-image:     -ms-linear-gradient(#999, #fff);

     -khtml-border-radius: 4px;
}

article input[type='text'],
article input[type='email']
{
    color: #666;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: linear-gradient(#999, #fff);
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
    background-image: -webkit-linear-gradient(#999, #fff);
    background-image:    -moz-linear-gradient(#999, #fff);
    background-image:      -o-linear-gradient(#999, #fff);
    background-image:     -ms-linear-gradient(#999, #fff);

     -khtml-border-radius: 4px;
}

/* END FORM STYLING */

/*---------------------------------------------- TESTIMONIAL FORMATTING ------------------------------------------------------------*/
.bne-testimonial-description p
{
    font: italic 1.1em verdana, serif;

    float: none;

    margin: 0;
    padding: 10px 10px 0;

    color: rgb(3, 129, 133);
}

.bne-testimonial-heading
{
    font-weight: 600;

    color: #6ea6a8;
}

/*-----------------------------------------------CUSTOM TAGS---------------------------------------------*/
a,
a:visited
{
    -webkit-transition: color .5s ease-in;
       -moz-transition: color .5s ease-in;
        -ms-transition: color .5s ease-in;
         -o-transition: color .5s ease-in;
            transition: color .5s ease-in;
    text-decoration: none;
}

h2.bigbold
{
    font-size: 1.8em;
}

.byline time
{
    font-variant: small-caps;

    text-transform: capitalize;
}

.byline time
{
    font-variant: small-caps;

    text-transform: capitalize;
}

#social_thumbs ul
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    text-align: center;
}

a[rel='category']
{
    text-transform: capitalize;
}

.all-caps,
.all-caps a
{
    font-variant: small-caps;

    text-transform: capitalize;
}

/* scale thumbnail social icons in sidebar */
#social_thumbs ul li
{
    display: inline-block;
}

#social_thumbs li a img
{
    max-width: 100%;
    height: auto;
    padding: 0 0;
}

/* Gradient sun bullets */
article > ul > li,
article ul li,
#poptext ul,
article > section > div > ul
{
    list-style-position: inside;
    list-style-type: disc;
    list-style-image: url(../images/bullet.gif);

    background-repeat: no-repeat;
    background-size: 3em auto;
}

.front article .widget ul,
.front article .widget ul li
{
    display: initial;

    list-style-type: none;
}

.front article .widget_feacpost_featuredcategorypostswidget ul li
{
    display: block;
}

.front article .widget_feacpost_featuredcategorypostswidget h4
{
    margin: 0;
}

li.widget,
.widget > h1,
.widget > h2
{
    list-style-type: none;
}

li.widget:nth-child(4)
.format_text .slidewrap2 ul
{
    list-style-image: none;
}

/*  removes bullet from testimonials slider */


.contact input[type='checkbox']
{
    width: 2em;
}

.contact article .wpcf7-form-control-wrap input[type='text'],
.contact .wpcf7-form-control-wrap input[type='email']
{
    display: inline;
    /* clear:both; */
    float: right;

    width: 100%;
    max-width: 100%;
}

.contact article .wpcf7-form-control-wrap input[type='textarea']
{
    width: 100%;
    max-width: 60%;
}

.contact .list_signup,
.contact article input[type='submit']
{
    display: inline-block;
    float: right;
    clear: both;
}

.contact .your-message
{
    display: inline;
    float: right;

    width: 100%;
    max-width: 60%;
}

input[type='submit']
{
    display: inline-block;

    margin: .5em 0 1em 1.2em;

    -moz-transition: -moz-box-shadow .2s ease-in-out 0s;

    color: #009dbb;
    border-radius: 8px 8px 8px 8px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e0f8ff));
    background: -moz-linear-gradient(#fff, #e0f8ff) repeat scroll 0 0 transparent;
    box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0, 0, 0, .35);
}

.contact .labels
{
    display: inline;
    float: left;
    clear: both;
}

// #social_thumbs {
//     /* you must set it to relative, so that you can use absolute position for children elements */
//     position: relative;
//
// }

// #sidebars #social_thumbs ul {
//     /* remove the list style and spaces*/
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     display: block;
//     /* position absolute so that z-index can be defined */
//     position: absolute;
//     /* center the menu, depend on the width of you menu*/
//     left: 0px;
//     top: 0;
//     width: 100%;
//
// }

// #social_thumbs ul li {
//     /* give some spaces between the list items */
//     margin: 0 1%;
//     /* display the list item in single row */
//  display: inline-block;
//     width: 17%;
//     float: left;
//
// }

// #social_thumbs ul li img {
//     /* give some spaces between the list items */
//     max-width: 100%;
//     /* display the list item in single row */
//     display: inline-block;
//
// }

/*
.custom #badges .badge{
display: block;
margin: 60px 0 0 0;
padding: 0;
position: relative;
text-align: center;
width: 100%;
}
*/
#badges .badge img
{
    display: inline-block;

    max-width: 100%;
    height: auto;
}

#social_thumbs img.badge
{
    display: inline-block;
    float: left;

    height: auto;
    margin: 1%;
    padding: 0;
}

#screenshot
{
    font-size: 1.6em;

    display: none;

    padding: 10px;

    -webkit-animation: screenshotreveal 2s ease-in-out; /* Saf5, Chrome */
       -moz-animation: screenshotreveal 2s ease-in-out; /* FF5+ */
        -ms-animation: screenshotreveal 2s ease-in-out; /* IE10pp3 */

    color: #fff;
    /* position:absolute; */border: 1px solid #ccc;
    background: #333;
}

#screens
{
    position: absolute;

    width: 200px;
    height: auto;
    margin-top: -294px;
    margin-left: -200px;

    -webkit-animation: screenshotreveal 2s ease-in-out; /* Saf5, Chrome */
       -moz-animation: screenshotreveal 2s  ease-in-out; /* FF5+ */
        -ms-animation: screenshotreveal 2s ease-in-out; /* IE10pp3 */
}

@-webkit-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-moz-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-ms-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

img
{
    max-width: 100%;
    height: auto;
}

.italicized
{
    font-style: italic;
}

.meta-gray
{
    color: $meta-gray;
}

.featured-img img
{
    max-width: 100%;
}

/*-----  End of Blog styles  ------*/
.schedule .wpdevbk blockquote
{
    padding-top: .5rem;

    background-image: none;
}

.bigbold
{
    font-size: 1.15em;
    font-weight: 600;

    letter-spacing: .25px;

    color: rgb(30, 146, 171);
}

.peace
{
    font-family: 'buda', sans-serif;
    font-size: 1.3em;
    font-weight: 300;

    text-align: center;

    color: rgb(35, 97, 161);
}


/*
.custom #badges .badge{
display: block;
margin: 60px 0 0 0;
padding: 0;
position: relative;
text-align: center;
width: 100%;
}
*/
#badges .badge img
{
    display: inline-block;

    max-width: 100%;
    height: auto;
}

#social_thumbs img.badge
{
    display: inline-block;
    float: left;

    height: auto;
    margin: 1%;
    padding: 0;
}

#screenshot
{
    font-size: 1.6em;

    display: none;

    padding: 10px;

    -webkit-animation: screenshotreveal 2s ease-in-out; /* Saf5, Chrome */
       -moz-animation: screenshotreveal 2s ease-in-out; /* FF5+ */
        -ms-animation: screenshotreveal 2s ease-in-out; /* IE10pp3 */

    color: #fff;
    /* position:absolute; */border: 1px solid #ccc;
    background: #333;
}

#screens
{
    position: absolute;

    width: 200px;
    height: auto;
    margin-top: -294px;
    margin-left: -200px;

    -webkit-animation: screenshotreveal 2s ease-in-out; /* Saf5, Chrome */
       -moz-animation: screenshotreveal 2s  ease-in-out; /* FF5+ */
        -ms-animation: screenshotreveal 2s ease-in-out; /* IE10pp3 */
}

@-webkit-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-moz-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

@-ms-keyframes screenshotreveal
{
    0%
    {
        opacity: .0;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1.0;
    }
}

img
{
    max-width: 100%;
    height: auto;
}

.italicized
{
    font-style: italic;
}

.meta-gray
{
    color: $meta-gray;
}

/*=============================================
=            Blog styles            =
=============================================*/
.blog article,
.blog article p
{
    margin: 0;
    padding: 0;
}

.blog .hentry header
{
    padding: 0 0 10px 0;
}

.teaser-box
{
    font-size: .75rem;

    //12px
    h3
    {
        font-size: 24px;
    }
}

.featured-post p
{
    font-size: .875rem;

    //14px
    h3
    {
        font-size: 18px;
    }
}

.featured-img img
{
    max-width: 100%;
}

/*-----  End of Blog styles  ------*/

/*    Posts
---------------------------------------------------------------*/



.su-posts-default-loop .su-post
{
    line-height: 1.5;

    margin-bottom: 2.5em;
}

.su-posts-default-loop .su-post:after
{
    display: table;
    clear: both;

    content: '';
}

.su-posts-default-loop .su-post-thumbnail
{
    display: block;
    float: left;

    width: 100px;
    height: 100px;
    margin-right: 1em;
}

.su-posts-default-loop .su-post-thumbnail img
{
    max-width: 100px;
    max-height: 100px;
}

.su-posts-default-loop h2.su-post-title
{
    font-size: 1.2em;
    font-weight: bold;

    clear: none;

    margin: 0 0 .3em 0;
}

.su-posts-default-loop .su-post-meta
{
    font-size: .8em;

    margin-bottom: .7em;

    opacity: .6;

    filter: alpha(opacity=60);
}

a.btn
{
    background-color: transparent;
}

.su-posts-default-loop .su-post-excerpt
{
    margin-bottom: .5em;
}

.su-posts-default-loop .su-post-excerpt p:last-child
{
    margin-bottom: 0;
}

.su-posts-default-loop .su-post-comments-link
{
    font-size: .9em;
}



.su-posts-teaser-loop .su-post
{
    line-height: 1.2;

    margin-bottom: 1.5em;
}

.su-posts-teaser-loop .su-post:after
{
    display: table;
    clear: both;

    content: '';
}

.su-posts-teaser-loop .su-post-thumbnail
{
    display: block;
    float: left;

    width: 56px;
    height: 56px;
    margin: 0 1em 0 0;
}

.su-posts-teaser-loop .su-post-thumbnail img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 2px;

    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.su-posts-teaser-loop h2.su-post-title
{
    font-size: .9em;
    font-weight: normal;

    display: block;
    clear: none;

    margin: 0;
    padding: 0;

    border: none;
}

.cloudbox
{
    border: 5px outset #b3fcff;
    border: 0 solid #c4b474;
    -moz-border-radius: 8px;/* Firefox 3.6 and earlier */
         border-radius: 8px;
    background: #cff1f2;/* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f8ee8f), to(#cff1f2));/* for webkit browsers */
    background: -moz-linear-gradient(top, #f8ee8f, #cff1f2);/* for firefox 3.6+ */
    -webkit-box-shadow: 0 -10px 30px #f0f187 inset;/* Saf3-4 */
       -moz-box-shadow: 0 -10px 30px #f0f187 inset;/* FF3.5 - 3.6 */
            box-shadow: 0 -10px 30px #f0f187 inset;/* Opera 1.5, IE9, FF4+, Chrome 10+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8EE8F', endColorstr='#CFF1F2');/* for IE */
}

.cloudbox p
{
    padding: .8em;
}

.cloudbox ul
{
    padding: .8em;
}

.leafbox
{
    padding: .5% .5%;

    color: #154d4f;
    border: .5% solid #4cce7e;
    background: #64b081;/* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#64b081), to(#80eef2));/* for webkit browsers */
    background: -moz-linear-gradient(top, #64b081, #80eef2);/* for firefox 3.6+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64B081', endColorstr='#80EEF2');/* for IE */
}

.leafbox h3
{
    font-family: 'Verdana', sans-serif;

    margin-top: .05%;

    color: #efcb59;
}

.bluebox
{
    padding: 1rem;

    color: #cff1f2;
    border: .5% solid #4cce7e;
    border-bottom: 5px solid $white;

    @include css-gradient(rgb(29, 139, 163), rgb(38, 60, 66));
}

.bluebox h3
{
    font-family: 'Verdana', sans-serif;

    margin-top: 0;

    color: #efcb59;
}

.sandbox
{
    padding: 1%;

    color: #1e92ab;
    border: .5% solid #efcb59;
    border: 1px solid #c4b474;
    -moz-border-radius: 8px;/* Firefox 3.6 and earlier */
         border-radius: 8px;
    background: #f8ee8f;/* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f8ee8f), to(#efcb59));/* for webkit browsers */
    background: -moz-linear-gradient(top, #f8ee8f, #efcb59);/* for firefox 3.6+ */
    -webkit-box-shadow: 0 -10px 30px #f0f187 inset;/* Saf3-4 */
       -moz-box-shadow: 0 -10px 30px #f0f187 inset;/* FF3.5 - 3.6 */
            box-shadow: 0 -10px 30px #f0f187 inset;/* Opera 1.5, IE9, FF4+, Chrome 10+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8EE8F', endColorstr='#EFCB59');/* for IE */
}

.sandbox h3
{
    margin-top: 0;

    color: #1e92ab;
}
